
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
var/*
assets/images/
# /vendor/
###< symfony/framework-bundle ###
