<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="{{ asset('assets/css/style.css') }}?123456" rel="stylesheet">
</head>
<body>
    <div id="nav">
        {% block nav %}{% endblock %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
