<div class="col-lg-2 col-md-3 col-sm-3 col-3 sidebar pt-2 pr-2 pl-4">
    <div class="row">
        <div class="col-lg-12">
            <a href="?page=accueil">
                <i class="bi bi-gear"></i> <span>Paramètre</span>
            </a>
        </div>
        <div class="col-lg-12">
            <a href="?page=bank_images">
                <i class="bi bi-images"></i> <span>Bank images</span>
            </a>
        </div>
        <div class="col-lg-12">
            <a href="{{path('logout')}}">
                <i class="bi bi-power"></i>
            </a>
        </div>
    </div>
</div>