<div class="services-section ombre-back">
    <h2 class="mb-5">Autres Services</h2>
    <div class="row">
{% for srv in data %}
      <div class="col-md-4">
        <div class="service-card">
          <div class="service-icon">
            <i class="{{srv.icon}}"></i>
          </div>
          <h3 class="service-title">{{srv.titre}}</h3>
          <p class="service-description">{{srv.description}}</p>
        </div>
      </div>
{% endfor %}
    </div>
</div>