<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{titre}}{% endblock %}</title>
    <link href="{{ asset('assets/css/style.css') }}?888" rel="stylesheet">
</head>
<body>
    <div id="nav">
        {% block nav %}{% endblock %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    {% include 'front/footer.html.twig' %}
</body>
</html>
