CHRONOLOGIE. HISTOIRE DE MADAGASCAR  
« La division de l'île entre des peuples divers ne connaissant du passé que leurs propres ancêtres, et 
surtout le souci prédominant des Européens de retracer leurs propres aventures ont empêché 
longtemps  la  conception  d'une  histoire  totale,  que  semblait  cependant  imposer  l'unité  géographique, 
linguistique, voire même ethnographique, de ce petit continent si original » écrit Hubert Deschamps en 
1960. Nos connaissances se sont précisées depuis, notamment sur les « temps obscurs » des débuts 
de l’histoire de la Grande Île. 
 
Origine  austronésienne  et  immigrations  de  la  fin  du  premier  millénaire  et  du 
début du second   
L'histoire du peuplement de Madagascar est celle de la synthèse entre les premiers migrants 
austronésiens sur qui nous savons très peu de chose, et les flux indo-mélanésien et bantou, 
secondairement indien et arabe, qui se sont installés dans l'île à partir du Ier millénaire et jusqu'au XVe 
ou  XVIe  s.  La  population  est  restée  jusque-là  clairsemée  en  petits  établissements.  Ces  origines 
multiples  se  lisent  encore  dans  des  traits  culturels  complexes  d'un  ensemble  malgache  qui  présente 
une grande unité linguistique et culturelle.  
 
Début de notre ère : Arrivés de pionniers navigateurs austronésiens probablement sur la côte Ouest de 
Madagascar  en  canoé  à  balancier  (waka)  au  début  de  notre  ère  -  voire  300  ans  avant  selon  les 
archéologues  et  peut-être  encore  plus  tôt  selon  certaines  hypothèses  des  généticiens.  Ce  peuple 
originel (vahoaka ntaolo en malgache) est à l'origine de la langue malgache commune à toute l'île et de 
tout le fonds culturel malgache commun à tous les autronésiens, des îles du Pacifique à l'Indonésie, en 
passant  par  la  Nouvelle-Zélande  et  les  Philippines.  Il  se  subdivisa  en  deux  grands  groupes  :  les 
Vazimba  qui  s'installèrent  dans  les  forêts  des  hauts  plateaux  centraux  de  la  grande  île  et  celles  de  la 
côte Est et Sud-Est et les Vezo qui restèrent sur la côte Ouest et Sud. 
 
700  –  1500 :  arrivée  de  nouveaux  clans  immigrants  :  moyen-orientaux  (Perses  Shirazi,  Arabes 
Omanites, Juifs arabisés), est-africains (Bantus) et orientaux (Indiens Gujarati, Malais, Javanais, Bugis) 
qui s'intégrèrent et s'acculturèrent à la société Vezo et Vazimba. 
 
XIIe s. : installation sur la côte occidentale d'un peuplement composite, mélange d'Arabes, de 
Malgaches  et  d'Africains,  les  Antalaotras.  Ceux-ci,  superficiellement  islamisés,  possèdent  quelques 
comptoirs  en  relation  avec  les  Comores.  Sur  la  côte  orientale  s'était  établi  le  peuple  antemoro,  qui 
revendique des origines arabes. 
 
Vers  1300  :  Le  roi  légendaire  Andrianerinerina,  grand  ancêtre  des  rois  Merina  fonda  son  royaume  à 
Anerinerina. Ses descendants se déplacèrent graduellement vers le centre de l’île. 
 
1491: Ali-Tawarath, connu sous le nom de Ralitavaratra, un saint homme descendant de Juifs réfugiés 
en  Arabie,  décide  de  quitter  ce  pays  avec  sa  famille  et  un  groupe  de  fidèles,  pour  fuir  le  sultan  de  la 
Mecque  qui  voulait  accaparer  des  objets  sacrés  dont  ils  avaient  la  garde  depuis  des  générations.  Ils 
débarquèrent à Iharana (Vohémar) et y restèrent pendant un certain temps. Maîtrisant parfaitement l'art 
divinatoire et l'écriture arabe, ils quitteront cet endroit en 1495 pour s'installer, avec les précieux objets, 
à  Matitanana  (Vatomasina,  au  sud  de  Manakara)  où  ils  vivront  avec  le  Foko  (tribu)  Antemoro.  Ses 
descendants seront connus sous le nom d'Antemoro-Anakara. 

La pénétration européenne et les royaumes de Madagascar (XVIe – XVIIIe s.)  
Il est difficile d’écrire une histoire d’ensemble de l'île, qui apparaît divisée progressivement en royaumes 
à  base  le  plus  souvent  tribale  :  royaumes  côtiers  menabe  et  boina,  peuplés  de  Sakalavas  sur  la  côte 
ouest,  Betsimisarakas  à  l'est,  Mahafaly  et  Antandroy  au  sud.  Au  centre  de  l'île,  on  trouve  deux  petits 
royaumes betsileo et merina.  
Selon Hubert Deschamps – qui fut, à l’heure de l’indépendance, le grand historien de Madagascar – « 
La  période  1500-1810  voit  une  nouvelle  conception  politique,  celle  des  royaumes,  se  superposer  aux 
clans  malgaches  primitifs  en  les  groupant  en  unités  plus  larges  et  hiérarchisées...  »  Une  tribu  royale 
dominante s’impose alors à ses voisines et établit un système de type féodal. Il ne s’agit alors que de 
royaumes  de  faible  étendue  au  sein  desquels  clans  et  tribus  conservent  leurs  identités  et  seul  le 
royaume mérina entreprendra tardivement la réalisation d’une véritable unité politique de type étatique.  
 
- Dans le sud-est de l’île, les principaux ensembles identifiables sont le royaume Antemoro de la région 
de la Matitana, et juste au nord, celui des Antamabahoaka de la Manajary.  
- Plus au sud, diverses principautés se succédèrent dans le pays de l’Anosy.  
- À l’ouest de celui-ci s’étendait l’Androy ou « pays des ronces » peuplé par les Antandroy, demeurés 
divisés en tribus guerrières. Anriandahifotsi (1610-1685) est le fondateur de la grandeur sakalave et ses 
successeurs dirigent le royaume de Menabé jusqu’au début du XIXe siècle.  
- Sur la côte nord-est, le relief très compartimenté ne favorisait pas initialement l’installation de grands 
ensembles territoriaux et les Antanosi de Sainte-Marie ou les Antemaro de la baie d’Antongil étaient des 
interlocuteurs familiers aux Européens. Au début du XVIIIe siècle, Ratsimilaho fonde dans ces régions 
le royaume des Betsimisaraka et s’empare de Tamatave. Il s’allie au royaume sakalave du Boina mais 
meurt en 1750, ce qui entraîne rapidement la décadence de son royaume.  
-  Le  centre  du  plateau  intérieur  voit  prospérer  durant  toute  cette  période  les  royaumes  betsiléo  de 
Lalangina, Arindrano, Isandra – qui connaît son apogée au XVIIIe siècle sous le règne de 
Andriamanalina – et Manandriana. Demeurés divisés du fait de la nature montagneuse de la région, les 
royaumes betsiléo seront finalement placés, au début du XIXe siècle, sous la suzeraineté du royaume 
mérina.  
-  Dans  le  centre  de  la  partie  septentrionale  de  l’île,  le  XVIe  siècle  a  vu  la  naissance  d’une  petite 
principauté dirigée par Andriamanelo qui est à l’origine du royaume mérina, principauté dont la capitale 
s’installe au XVIIe siècle à Ambohitrabiby, au nord-est de l’actuelle Tananarive. En 1787, 
Andrianampoinimerina « le seigneur au cœur de l’Imerina » est porté au pouvoir après le renversement 
de son oncle. 
 
1500  :  Ralitavaratra  parti  en  reconnaissance  de  tout  le  Sud  et  le  Sud-Ouest  du  pays  rencontre 
Andriamisara,  le  grand  roi-devin  ("Ombiasa")  de  tous  les  Sakalava.  Les  Anakara  inventent  le  Sorabe, 
parler malgache ("volan'Onjatsy") écrit en caractères arabes.  
 
mai 1500 : L’escadre portugaise de Pedralvares Cabral est dispersée par la tempête au large du cap de 
Bonne  Espérance.  L’un  des  navires,  commandé  par  le  capitaine  Diégo  Diaz,  est  entraîné  vers  l’est  et 
longe  vers  le  nord  une  côte  qui  n’est  pas  celle  du  Mozambique  mais  qui  apparaît  comme  celle  d’une 
grande île. Quand Cabral rend compte de cette découverte au Portugal l’année suivante, on juge qu’il 
s’agit  sans  doute  de  Madagascar,  l’île  –  que  l’on  croyait  imaginaire  –  placée  dans  ces  régions  sur  le 
globe de Martin Behaim. Le navigateur portugais fut le premier Européen à apercevoir et découvrir par 
hasard  Madagascar  et  appela  l'île  Sao  Lorenço  (Saint-Laurent).  Dès  1502,  la  carte  portugaise  de 
Cantino  place  en  cette  zone  une  île  de  forme  allongée  portant  le  nom  de  Madagascar,  dont  les  côtes 
sont  visitées  au  cours  des  années  suivantes  par  d’autres  navigateurs  portugais  engagés  sur  la  route 
des Indes. 
 
1506 : Le portugais Fernando Suarez premier européen à accoster à Madagascar. 
 
1506  :  Tristan  da  Cunha  pille  un  comptoir  arabe  établi  sur  une  île  proche  de  la  côte  nord-ouest  de 
Madagascar et en massacre les habitants. 
 
1507  :  Ruis  Pereira  mouille  à  l’estuaire  de  la  Matitana  sur  la  côte  orientale  et  baptise  l’île  du  nom  de 
Saint-Laurent. La même année, Alphonse d’Albuquerque attaque et pille un autre établissement arabe 
de la côte nord-ouest afin d’écarter la présence arabe de l’océan Indien. 
 
1508 : Chargé par le roi de Portugal, Manoel Ier, d'inventorier les ressources de l'île, Lopes de Sequeira 
constate que la côte orientale est dépourvue des épices tant recherchées. Les Portugais utilisent alors 
Madagascar  comme  escale  de  ravitaillement  sur  la  route  des  Indes,  dans  les  baies  de  Saint  Augustin 
(Sud-Ouest), Manafiafy (Sud-Est), baie d'Antongil (Nord-Est) et sur la côte Nord-Ouest.  
 
1515  :  Luis  Figueira  établit  un  fortin  à  l’embouchure  de  la  Matitana,  d’où  ses  compagnons  vont 
reconnaître plus au nord les baies d’Antongil et de Vohémar. 
 
1517  :  La  carte  de  Pedro  Reinel  présente  la  forme  générale  de  l’île  et  donne  sa  position  à  peu  près 
exacte par rapport au Tropique du Capricorne. 
 
1527  :  Une  expédition  portugaise  est  jetée  à  la  côte  par  la  tempête  dans  la  Baie  de  Ranofotsy  sur  la 
côte  sud-ouest  et  ses  six  cents  hommes  sont  pour  la  plupart  massacrés  ;  il  est  possible  que  certains 
aient réussi à gagner l’Anosy, sur la côte sud-est, où ils auraient laissé quelques constructions de pierre 
ainsi  que  quelques  traces  dans  la  langue  locale.  C’est  au  nord-ouest,  dans  la  baie  de  la  Mahajamba, 
près  de  l’embouchure  de  la  rivière  Sofia,  que  s’établirent  surtout  les  relations  d’échanges  avec  les 
indigènes. Plus au nord, le principal vestige qu’ait laissé dans la toponymie la présence portugaise est 
le nom de Diogo Soares (Diego Suarez) – celui du grand port de la pointe septentrionale de l’île – un 
trafiquant qui transporta vers l’Inde des contingents d’esclaves razziés à Madagascar. 
 
1527 : Des navires dieppois faisant voile pour les Indes font escale à Madagascar. 
Eclatement du Groupe humain de la dépression d’Ivohibe ; Ramarohala fonde le royaume d’Anteony. 
 
1529 : Les frères Parmentier en route pour Sumatra à bord du Sacre et de La Pensée mouillent sur la 
côte occidentale de l’île pour y échanger des tissus contre des vivres. 
 
1539  :  L’Angoumois  Jean  Fonteneau  rapporte  que  «  la  coste  de  l’isle  de  Saint  Laurens  est  très 
dangereuse, que les habitants sont de mauvaises gens qui ne veulent trafiquer avec personne... » 
 
1540-1575 : Régne du roi Andriamanelo. C'est lui qui fit d'Alasora le berceau de la Monarchie Merina, et 
qui  édicta,  avec  les  membres  de  sa  famille,  les  règles  de  base  devant  régir  la  dynastie  des  rois  de 
l'Imerina, et la consolidation de la nation malgache. Ces règles voulaient que son fils Ralambo, héritier 
du trône s'appuie sur les Havan'Andriana (ou famille royale connue aussi sous le nom de 
Andrianteloray),  en  l'occurrence  les  membres  de  la  famille  d'Andriamananitany  et  de  Rafotsindrindra 
Rasoavimbahoaka, respectivement frère et sœur d'Andriamanelo lui-même.  
Le  fils  aîné  de  Ralambo  s'appelait  Andriantompokoindrindra  :  moyennant  des  accords  spéciaux,  ce 
dernier  accepta  de  se  soumettre  à  son  frère.  Andriamananitany  eut  un  fils,  Andrianamboninolona  qui 
donna  naissance  à  Ratsitohinina,  future  femme  de  Ralambo  qui  engendra  Andrianjaka  (comme  de 
coutume, l'on fit procéder aux rituels pour enlever le tabou de cette union incestueuse). Pour raffermir 
son  royaume,  Andriamanelo  donna  sa  sœur  Rasoavimbahoaka  pour  femme  à  un  vaillant  chef  d'une 
localité voisine dénommé Andriandranando.

Les descendants de ces trois personnes, Andriantompokoindrindra, Andrianamboninolona et 
Andriandranando désignent ce qu'on appelle Andrianteloray et qui perpétuèrent, avec Andriamanelo, la 
dynastie  des  rois  et  reines  de  l'Imerina,  reconnus  plus  tard  Rois  et  Reines  de  Madagascar  par  les 
grandes puissances étrangères. 
 
1552  :  Ne  voulant  pas  mourir  à  Madagascar,  Ralitavaratra  s'assura  que  ses  descendants  étaient  bien 
installés  avant  de  retourner  définitivement  à  la  Mecque  où  il  mourut  plusieurs  années  plus  tard,  pour 
être  enterré  au  Mausolée  de  Maroan,  nom  malgachisé  en  "Maroandry"  et  donné  au  tombeau  des 
Anakara à Matitanana et à celui d'Andriamahazonoro à Ankadivato, plus tard à Antananarivo. 
 
1555  :  La  carte  de  Guillaume  Le  Testu  donne  une  idée  assez  précise  de  la  forme  générale  de 
Madagascar. 
 
1575-1610 : Ralambo fut le premier roi à hériter d'Ambohitrabiby au nord, royaume de son grand-père 
Rabiby,  et  d'Alasora  royaume  de  son  père,  et  d'Imerimanjaka  celui  de  ses  grand-mères  Rangita  et 
Rafohy  au  sud  (l'Avaradrano.et  l'Atsimondrano).  Les  "sampy"  ou  "idoles"  et  "sikidy"  ou  "gris-gris" 
régissaient la vie quotidienne et les rapports sociaux de cette époque.  
 
Fin du XVIe s. : Portugais, Hollandais, Anglais commencent à fréquenter les rades, pour y prendre des 
vivres  sur  la  route  des  Indes  (la  baie  de  Saint-Augustin  sur  la  côte  sud-ouest,  à  l’embouchure  de 
l’Onilahy, et la côte orientale). 
 
1595 : L’amiral hollandais Cornelis de Houtman séjourne à l’île Sainte-Marie et à la baie d’Antongil, sur 
la côte nord-est de Madagascar. Les navires hollandais vont ensuite relâcher fréquemment au sud-est 
(sur la côte de l’Anosy, dans l’île Sainte-Luce) pour se ravitailler en vivres. 
 
février  1602  :  Le  Croissant  et  le  Corbin,  commandés  par  le  Malouin  Frotet  de  la  Bardelière,  sont 
contraints par la tempête de relâcher dans la baie de Saint-Augustin alors qu’ils se dirigeaient vers les 
Indes  orientales.  Quelques  mois  plus  tard,  deux  capitaines  marchands  français,  Martin  de  Vitré  et 
Pyrard de Laval viennent faire du troc dans la baie de Saint-Augustin. 
 
1610-1630 : Le fils du roi hova Ralombo, Andrianjaka, ayant fait ses armes sur les roitelets 
environnants  et  sur  la  colline  voisine  d'Ambohimanga,  chassa  les  Vazimba  du  roi  Rafandrana  de  la 
colline d'Analamanga, la plus haute des 12 collines de l'Imérina (1.468 m) ; il y fonda sa capitale future 
Antananarivo.  
 
Début  du  XVIIe  siècle  :  Les  Portugais  entreprennent  l’exploration  de  l’île,  tentative  rapportée  par  le 
jésuite Luis Mariano qui y participa de 1613 à 1619. Ce sont les côtes occidentales et sud-orientales qui 
sont alors surtout reconnues et le fils du roi des Antanosi (baptisés également Matacassi, Malagasy ou 
Madécasses d’où serait venu le nom de Malgaches désignant aujourd’hui l’ensemble des habitants) est 
emmené à Goa pour y être instruit dans la foi chrétienne mais les efforts d’évangélisation n’en restent 
pas moins sans lendemain. 
 
1613 : Luiz Mariano essaie de conclure un traité avec le roi mahafaly Andriamasilalina 
Lutte  entre  les  Filoha  Betsimisaraka  pour  avoir  le  commerce  avec  les  commandants  des  bateaux 
européens.  Andriampianarana  institue  un  code  de  sept  articles  dans  le  Lalangina.  Les  descendants 
d’Amdriambolanony  forment  la  dynastie  qui  règne  sur  le  petit  royaume  Antefasy.  Des  Européens 
s’installent sur la Côte Est. 

(page 4)