{% extends 'front/base.html.twig' %}
{% block nav %}
    {% include 'front/nav.html.twig' %}
{% endblock %}

{% block title %} {% endblock %}
{% block content %}


{% include 'front/modele/maps.html.twig' with {
    'coordo' :'-13.3120, 48.2664',
    'zoom' : '11.4',
    'markers': [
        {'coordo' :'-13.3120, 48.2664', 'text':'Nosy Be'},
    ],
    'height':'500px',
    'width':'100%'
}%}
 
<div class="container padding-top-10">
    <p>Le nom signifie "Grande île". C'est l'île la plus étendue des côtes malgaches, avec ses 315 
    Km2 (30 Km de long pour 19 de large). Elle est également baptisée l'île aux parfums, en 
    raison de la production de l'Ylang Ylang, fleur dont on extrait l'essence pour parfums.
    </p>
    <p>
    A une heure d'avion de la capitale Antananarivo et à 15 Kilomètres de la côte Nord-Ouest de 
    Madagascar, l'île de Nosy-Be est une merveille que la nature a déposé sur l'océan Indien, dans 
    le canal du Mozambique. Elle est entourée par plusieurs îlots.
    </p>
    <p>
    Les eaux chaudes du canal du Mozambique et le climat tropical qui règlent les saisons, font de 
    Nosy Be une île avec une faune et une flore exceptionnelle.
    </p>
    <p>
    Nosy Be ['nusi'be] (en malgache : Nosy, île et Be, grand) est une île côtière 
    de Madagascar située dans le canal du Mozambique, près des côtes nord-ouest de 
    Madagascar. L'île est aussi appelée Ambariobe (« La Grande île » en dialecte local) par les 
    habitants de la région. Il s'agit, avec Diego-Suarez et l'Île Sainte-Marie, d'un des trois anciens 
    établissements français qui furent associés à l'ancien territoire du royaume mérina pour former 
    l'ancien protectorat français de Madagascar dont l'actuelle république de Madagascar reprend 
    les frontières.
    </p>

    <h2>Localisation</h2>
    Île volcanique d'une superficie de 321 km2
    , elle se situe dans la baie d'Ampasindava à huit 
    kilomètres au large de Madagascar. Elle s'étend sur environ 26 kilomètres du nord au sud et 
    sur 20 kilomètres d'est en ouest. C'est l'île principale d'un archipel qui comprend les petites 
    îles de Nosy Komba, Nosy Fanihy, Nosy Sakatia, Nosy Iranja, Nosy Tanikely et les archipels 
    des Mitsio et des Radama1
    . L'ensemble constitue un département rattaché à la région Diana. 
    L'île culmine au mont Lokobe, volcan éteint à 455 mètres d'altitude ; le mont Passot est à 329 
    mètres de haut. Son chef-lieu est Hell-Ville (nom usuel mais le nom malgache est Andoany) 
    avec 30 000 habitants, situé sur la côte sud, qui possède le port principal de l'île.

    <h2>Topographie</h2>
    Nosy Be a une forme assez régulière avec un relief assez mouvementé. Son point culminant 
    est Lokobe avec 450 m au sud-est de l'île puis le mont Passot à 315 m au centre de l'île 
    accessible à travers les lacs sacrés. Ses côtes sont interrompues par de nombreuses baies et 
    des plages merveilleuses ourlées de cocotiers.
    Nosy Komba est une île volcanique et rocheuse (620 mètres d'altitude) au sud de Nosy Be.

    <h2>Climat</h2>
    <p>
    La chaîne du Tsaratanana, à l'est, et le massif montagneux du Manongarivo, au sud, forment 
    autour de l'ile de Nosy Be un cirque de hauteurs protectrices qui arrêtent les alizés et 
    déterminent un climat « en enclave » dans la région ouest de Madagascar. Les seuls vents sont 
    des brises thermiques (régime de brise) soufflant suivant le mouvement du soleil à des heures 
    régulières de la journée et de la nuit, tantôt dans un sens tantôt dans l'autre : ils ne sont jamais 
    très forts. Il y a de nombreux lacs, d'origine volcanique, entourés d'une végétation tropicale. 
    Ils sont généralement habités par des crocodiles. 
    </p>
    <p>
        L'île de Nosy Be et son archipel ont un climat particulièrement agréable avec une moyenne 
    annuelle de température de 25 °C (en hiver 22 °C et pendant l'été, d'octobre à février, 28 °C). 
    Dans la région nord de l'archipel de Nosy Be, les îles Mitsio et la baie du Courrier, il souffle 
    pendant l'hiver un vent assez fort appelé « avarabe » tandis que tous les après-midi, la chaleur 
    de la journée est tempérée par une agréable brise d'ouest, appelée « talio » qui souffle jusqu'au 
    coucher du soleil.
    </p>
    <p>
        La région de Nosy Be et du bas Sambirano est caractérisée par des pluies annuelles assez 
    abondantes (2 244 millimètres à Nossi-Bé, 2 196 millimètres à Ambanja). Le sud de l'île est 
    plus arrosé que le nord. Le maximum est atteint en janvier (508 millimètres à Fascene, 462 
    millimètres à Hell-Ville, 541 millimètres à Ambanja). Le minimum est en juillet (25 
    millimètres à Fascene, 37 millimètres à Hell-Ville) ou en juin (26 millimètres à Ambanja)2
    . Il 
    pleut surtout la nuit et l'ensoleillement est important : plus de 3 000 heures par an.
    L'unique station météo de l'île diffusant en temps réel des observations météorologiques a été 
    installée et est maintenue par Doany Beach à la réserve de Lokobe dans le sud de l'île.
    </p>
    <h2>Flore</h2>
    La flore tropicale de la côte ouest présente de très belles forêts primaires parmi lesquelles 
    certaines sont protégées par l’État sous forme de réserves naturelles ; à Nosy Be, il y a celle 
    de Lokobe. Parmi les essences les plus communes, citons le palissandre, le camphrier, l'ylangylang, plusieurs espèces de palmiers, le kapokier, la tamarinier, les filaos. Les Français 
    introduisirent plusieurs épices qui aujourd'hui font la richesse de l'île et se développent très 
    bien : la canne à sucre (1650), le café (1845). Parmi d'autres espèces végétales, citons les 
    acabias, les raphias, les eucalyptus, le cacao. En plus de ses fruits connus, les îles offrent
    beaucoup d'autres variétés ignorées en Europe mais très agréables telles que le jaque, le pocpoc, le combava, le cœur de bœuf
    <h2>Faune terrestre</h2>
    À Nosy Be vivent essentiellement quelques espèces de lémuriens nocturnes dans la Réserve 
    naturelle intégrale de Lokobe mais il y a une forte concentration de Lémur makako, à fourrure 
    noire, sur l'île de Nosy Komba, qui constitue également une réserve naturelle.
    <h2>Biodiversité marine</h2>
    Les poissons les plus communs sont ceux des récifs comme les poissons perroquets, les 
    mérous, les thons, les barracudas, les espadons, les carangues, les sardines et les maquereaux. 
    La majorité sont visibles au parc protégé de Nosy Tanikely..
    <h2>Histoire </br> 900 à 1800</h2>
    <p>
        C’est vers le IXe
    siècle que les navigateurs arabes qui visitent épisodiquement l’île nommèrent 
    Nosy be « Assada » ou « Sada » (en arabe : سعدة ,(les Malgaches la nommaient alors « Vario 
    Be ».
    Au début du Xe siècle, les Arabes qui abordent les côtes nord-ouest de Madagascar se 
    ravitaillent à Nosy Be et y créent un comptoir à Mahilaka. Ils fortifient alors la ville avec un 
    mur d’enceinte de 4 mètres de haut et 2 km sur 1 km de côté.
    Au XIIe siècle, les arabes créent un comptoir à Ambanaro.
    Au XIIIe siècle, Mahilaka devient la plus grande ville de Madagascar.
    Au XVe siècle, les Indiens viennent se fixer à Ambanoro à la suite du déclin de Mahilaka. Ils 
    s'aperçurent rapidement que s'y trouvaient des bancs d'huîtres dont ils se mirent à exploiter les 
    perles en les exportant vers Ceylan.
    Occupée dès 1841, soit 55 ans avant le reste de Madagascar, par les Français intéressés par sa 
    rade, puis rapidement colonisée, Nosy Be est devenue, au XIXe
    siècle, un comptoir commercial important de la côte ouest de Madagascar3.
    </p>
    <h2>Présence française et colonisation (1839-1960)</h2>
    <p>L'île de Nosy Be devient un endroit important à Madagascar à partir de la fin des années 
    1830. Le capitaine d’infanterie de marine Pierre Passot est chargé par l'Amiral de 
    Hell, Gouverneur de Bourbon, de chercher un port militaire à Madagascar pour 
    remplacer Port-Louis perdu à la suite de l'annexion de l'Île Maurice par la Grande-Bretagne. 
    L'expédition arrive à Nosy Be en 1839, à bord de la Prévoyante. Passot, assisté par des marins 
    et un missionnaire (l'abbé Dalmond) choisissent la rade la plus sûre de Nosy Be, dans laquelle 
    est fondé un poste militaire, baptisé Hell-Ville en l'honneur du gouverneur de Bourbon4
    .
    </p>
    <p>
        Passot revient à bord du Colibri en 1841 et prend officiellement possession de Nosy Be et des 
    îles adjacentes. L'île de Nosy Be est donc colonisée 55 ans avant le reste de Madagascar. 
    Nosy Be devient alors, au milieu du XIXe
    siècle, un comptoir commercial important de la côte 
    ouest de Madagascar5
    . L'île était un centre économique qui reliait la Réunion à Mahajanga et 
    aux autres villes de la côte6
    ..
    </p>
    <p>
        C’est en 1842 que les Français la baptisèrent par décret « Nossi-Bé » la grande île ou « la 
    perle de l’océan indien ».
    </p>
    <p>
        C’est en 1842 que les Français la baptisèrent par décret « Nossi-Bé » la grande île ou « la 
    perle de l’océan indien ».
    </p>
    <p>
        À partir des années 1850, les cultures, les plantations de rente s'y développent, essentiellement 
    entreprises par des colons réunionnais, mauriciens et français. L'île fait partie avec l'Île 
    Sainte-Marie de Madagascar du gouvernement de Mayotte et compte environ 
    15 000 habitants vers 1865. Elle est rattachée à Madagascar après la conquête de Madagascar 
    par la France en 1897.
    </p>
    <p>
        Lors de la guerre russo-japonaise, l'escadre russe de la Baltique, qui devait secourir PortArthur, effectue un tour du monde par la route du cap de Bonne-Espérance. De décembre 
    1904 à mars 1905, elle séjournera, pour charbonnage et réparations, dans la baie très abritée et 
    facile à protéger d'Ambavatoby — extrémité Nord de la presqu'île de la Baie 
    d'Ampasindava — située à une dizaine de miles dans le Sud Ouest de Nosy Be.
    </p>
    <p>
        Ainsi, la petite île devient une colonie agricole, recouverte de champs de cannes, d'indigo, 
    de café, mais aussi de sésame, de riz, de maïs, de patates douces et de manioc. Elle récolte les 
    fleurs d'ylang-ylang à partir des années 1910. C'est de cette activité que lui vient le surnom 
    d'île aux parfums. Au cours des années 1920, l'île voit se développer une importante industrie 
    sucrière autour de la ville de Dzamandzar avec une rhumerie célèbre portant le même nom.
    </p>
    <h2>Les années 1960-90</h2>
    <p>
        L'accession à l'indépendance entraîne une prise de conscience générale pour le développement 
    économique et social : avec 8 % des investissements totaux (deux milliards FCFA) prévus par 
    le Plan 64-68, la Première République n'oublie pas le secteur touristique. Les routes de 
    l'aéroport de Fascène à Hellville puis celles de la côte ouest et du Mont Passot sont bitumées. 
    La société Aye-Aye, en liaison avec Madagascar Air Tours, reprend le Palm Beach à 
    Ambondro et un groupe sud-africain (Sun International Hotel) ouvre un complexe hôtelier à 
    Andilana. Au début des années 1970, les bungalows en falafa de l'aéroport font place à des 
    bâtiments rappelant le petit aéroport international d'Ivato et la piste est allongée pour 
    permettre au B737 d'Air Madagascar d'atterrir.
    </p>
    <p>
        La République démocratique malgache (Deuxième République) peu favorable à un tourisme 
    de masse opte pour un tourisme modéré et sélectif : les Italiens en seront les acteurs branchés. 
    Deux hôtels de direction italienne s'installeront sur la côte ouest (Les Cocotiers à Dzamandzar 
    et La Résidence d'Ambatoloaka). Ils axeront leurs efforts sur la pêche sportive et la 
    découverte des fonds sousmarins (plongée sous-marine passion et paysages). Le Palm Beach 
    rénové passera à la catégorie quatre étoiles et à Andilana s'ouvrira un Holiday Inn. L'île 
    continue à produire du sucre, à distiller du rhum et à extraire l'essence d'ylang-ylang. Une 
    pêcherie industrielle, Les Pêcheries de Nosy Be, s'installe au port du Cratère et traite crevettes 
    et camarons qui seront exportés congelés. Des projets hôteliers ambitieux se développent et au 
    début des années 1990, l'île de Nosy Be deviendra la première destination des touristes 
    internationaux à Madagascar.
    </p>
    <h2>Démographie : Une population colorée et métissée</h2>

    <p>Nosy Be compte :</p>
    <p>200 habitants, en 1830 ;</p>
    <p>30 000 habitants, en 1979 ;</p>
    <p>41 900 habitants, en 2006 ;</p>
    <p>environ 50 000 habitants, en 2012 ;</p>
    <p>environ 60 000 habitants, en 2016 .</p>
    <p>environ 92 300 habitants, en 2024.</p>
    <h2>Langues</h2>
    <p>Les langues officielles de l'administration, de l'enseignement et de la presse écrite et orale 
    sont le malgache et le français. Environ 20 % de la population malgache parle couramment le 
    français et la langue française qui est couramment utilisée dans les villes touristiques. De 
    nombreux touristes italiens séjournent à Nosy Be, donc plusieurs malgaches, professionnels 
    du tourisme, parlent également couramment cette langue. L'anglais est cependant beaucoup 
    plus répandu, vu que de nombreux touristes Sud-Africains et Américains séjournent 
    régulièrement à Nosy-Be.</p>
    <h2>Religions</h2>
    <p>Du fait des différentes origines de la population, les principales religions pratiquées dans l’île 
    sont le christianisme et l’islam et comme dans tout le reste de Madagascar, le recours aux 
    croyances traditionnelles.</p>
    <h2>Éducation</h2>
    <p>Sur l'île, il n'y a que des écoles primaires et secondaires et quelques lycées publics et privés. 
    Après le baccalauréat, les élèves doivent se déplacer à Antsiranana s'ils veulent effectuer une 
    scolarité universitaire.
    </p>
    <h2>Sports et loisirs</h2>
    <p>
        Outre les sports de masse (football, basket-ball…), le Moraingy, art martial traditionnel, est 
    un sport très populaire. L’île comporte également un parcours de golf de dix-huit trous à 
    Dzamandzar, sur la route d'Andilana. La pétanque est aussi très appréciée des Malgaches qui 
    d’ailleurs brillent dans ce sport à un niveau international.
    </p>
    <h2>Tourisme</h2>
    <p>
        Avant l'indépendance de Madagascar, l'économie de l'île était axée sur l'agriculture. 
    Depuis 1960, Nosy Be s'est alors partiellement reconvertie dans le tourisme. Cependant, 
    en 2011, les infrastructures manquent (routes, adduction d'eau) malgré l'ouverture de 
    nouveaux hôtels en 2010 et 2011. Néanmoins, les capacités hôtelières actuelles sont plus 
    élevées que la demande.
    </p>
    <p>
        Le village balnéaire d'Ambatoloaka (en malgache : « là où il y a une pierre trouée ») sur la 
    côte ouest, est un ancien village de pêcheurs qui a subi un développement énorme dû à 
    l'expansion du tourisme. Le site regroupe aujourd'hui de nombreuses structures hôtelières de 
    moyenne catégorie et est un point de départ des activités touristiques de l'île (excursions, 
    locations de véhicules, restaurants, casino, bars et lieux de sorties divers).
    </p>
    <p>
        L'île offre encore des endroits authentiques et préservés à découvrir et où séjourner, en dehors 
    des espaces investis par le tourisme de masse. C'est le cas de la côte sud-est et des villages 
    situés en bord de plage autour de la Réserve naturelle de Lokobe tels que les villages 
    de Doany-Antafondro et d'Ampasipohy.
    </p>
    <h2>Agriculture</h2>
    <p>
        Parmi les principales cultures, on trouve du café, de la vanille, du poivre, de l'ylang-ylang et 
    de la canne à sucre. Cette dernière mérite une mention spéciale : après avoir connu la « fièvre 
    sucrière » de 1850 à 1890 — dix-huit moulins à vapeur sur l'île, 1 000 ha de plantations —
    puis une crise due à l'effondrement des cours, sa culture est reprise en 1923 par la Compagnie 
    Agricole et Sucrière : de 40 000 tonnes de cannes en 1932, elle progressera régulièrement 
    (amélioration des variétés, petit train livrant les cannes à l'usine, modernisation du matériel 
    agricole et industriel...) pour traiter, en 1968, 140 000 tonnes de cannes (2 000 ha de 
    plantations) — dont 40 % en apports extérieurs (anciens Domaines La Motte Saint 
    Pierre et Petits Planteurs) — et obtenir une production de 17 000 tonnes de sucre brut. Cette 
    société a toujours préparé du rhum (3 700 hl en 1952, 8 000 hl en 1968), dont une partie, 
    vieillie en foudres de chêne, était exportée.
    </p>
    <p>
        En 1968, existait toujours le chemin de fer de la canne à sucre avec deux porters à vapeur à la 
    cheminée en diamant, typique des locomotives utilisant le bois comme combustible, et deux 
    Diesel (une de la série TDE des Locotracteurs Gaston Moyse et une Plymouth). Le réseau 
    comportait 25 km de voie ferrée et avait été créé en 1925 par la Compagnie Agricole et 
    Sucrière car les parcelles plantées étaient alors disséminées : le petit train livrait la canne à 
    longueur de journée pendant la coupe (hiver austral) en traversant les collines où voisinaient 
    les plantations d'ylang-ylang et de caféiers.

    </p>
    <p>
        Au début du XXIe
    siècle, il ne reste plus grand-chose de l'ancienne activité agricole de Nosy 
    Be. La SIRAMA (Siramamy Malagasy c'est-à-dire : « Compagnie sucrière nationale 
    malgache ») a déposé le bilan depuis 2006 et les infrastructures sont laissées à l'abandon. En 
    décembre 2007, la réhabilitation du site a été annoncée, grâce à des investisseurs chinois, afin 
    de retrouver la capacité de production historique, à savoir 16 000 tonnes de sucre 
    et 11 000 hectolitres d'alcool pur par an. Trois années après sa mise en œuvre en 2015, un 
    nouveau projet de reprise des activités sucrières, dans le cadre d'un partenariat public-privé, 
    est suspendu pour des questions foncières. Les terres agricoles de la SIRAMA sont désormais 
    progressivement cédées, parcelle après parcelle, et transformées en hôtels ou habitations, 
    hypothéquant définitivement la possibilité d'un redémarrage de l'exploitation agricole de ces 
    terres, activité qui a fait vivre plus de 3 000 personnes sur l'île dans le passé.
    </p>
    <h2>Culture et patrimoine</h2>
    <p>
        Le souvenir des marins persiste sur la route du port avec les vieux canons pointés vers le large 
    et à Hell-Ville avec les constructions en mur épais qu'ils y ont laissées. Sur l'île, ils 
    introduisirent aussi le Teck dont le bois était recherché dans la construction navale.
    </p>
    <h2>
        Cuisine
    </h2>
    <p>
        La cuisine locale de Nosy be est essentiellement à base de poissons, de fruits de mer et autres 
    produits de la mer. On les accompagne le plus souvent avec du riz au coco, plat national 
    malgache. Les spécialités de l'île comprennent la palissandre et le sabeda. Un atelier culinaire 
    à Marodoka, un des lieux historiques incontournables de la région permet de découvrir la 
    gastronomie Sakalava, l'ethnie dominante de l'archipel.
    </p>
    <h2>
        Musique et danse
    </h2>
    <p>
        La pêche aux huîtres perlières donnait lieu à des manifestations riches en couleurs où femmes, 
    vieillards et enfants se rendaient sur les bancs en chantant avec les pirogues.
    L'île est également connue dans l'océan Indien pour son festival annuel, le Donia, qui réunit 
    pendant le mois de mai une sélection d'artistes de Madagascar et des autres îles de l'océan 
    Indien. Cette année le festival Donia a eu lieu fin septembre.
    Depuis 2014, a lieu chaque fin de mois d'août, pendant six jours, dans les plus prestigieux 
    hôtels de l'ile, le Nosy Be Symphonies21
    - le Festival de Musique Classique de l'Océan Indien 
    - regroupant des artistes internationaux, de l'Océan Indien et de Madagascar.
    </p>

    <h2>Liens externes</h2>
    <p>Nosy Be, sur Wikimedia Commons</p>
    <p>Nosy Be, sur Wikivoyage </p>
    <p>Site officiel de l'Office Régional du Tourisme de Nosy Be</p>
    <p>Guide officieux de Nosy Be , nosybe-island.com</p>
    <p>Guide local de Nosy Be , tripnosybe.com</p>
    <p>Site officiel de l'Office national du tourisme à Madagasca</p>
</div>
{% endblock %}