{% extends 'front/base.html.twig' %}
{% block nav %}
    {% include 'front/nav.html.twig' %}
{% endblock %}

{% block title %} {% endblock %}
{% block content %}

{% include 'front/modele/band-hero.html.twig' with {
                'image':'slide1.jpg',
                'titre':'Au-delà de la Pêche et des Poissons
    L’Authenticité Malgache avec
    ECO PECHE MADA',
                'url':'#',
                'bouton':false,
                'class':'pt-5 mb-5',
                'description':"
                    Pour les amateurs d’exotisme et de sensations fortes, la Pêche à Nosy Be, c’est la pêche en no kill dans le célèbre archipel des Mitsio au départ de la plage d Ambatoloaka.
                ",
                
    }%}

    <div class="container">
{# 
    {% include 'front/modele/image.html.twig' with {'src':'sejour_mitsio2.jpg', 'class':'width-48 height-img-350 margin-5', 'titre':""} %}
    {% include 'front/modele/image.html.twig' with {'src':'sejour_mitsio3.jpg', 'class':'width-48 height-img-350 margin-5', 'titre':""} %}
    {% include 'front/modele/image.html.twig' with {'src':'sejour_mitsio4.jpg', 'class':'width-48 height-img-350 margin-5', 'titre':""} %}
    {% include 'front/modele/image.html.twig' with {'src':'sejour_mitsio5.jpg', 'class':'width-48 height-img-350 margin-5', 'titre':""} %} #}

    {% include 'front/modele/gallery.html.twig' with {'data': [
            {'image': 'sejour_mitsio2.jpg'},
            {'image': 'sejour_mitsio3.jpg'},
            {'image': 'sejour_mitsio4.jpg'},
            {'image': 'sejour_mitsio5.jpg'},
    ]} %}
    <div class="content-section margin-10">
        <h2 class="my-4">Conditions et Tarifs</h2>
        <p>
            <span class="highlight">Note importante :</span> Pour des raisons de sécurité et de confort, nous limitons le nombre de pêcheurs à bord du bateau à 4 personnes maximum. Le matériel de pêche n'est pas fourni.
        </p>

        <h3 class="my-4">Forfait Mitsio - 5 jours et 4 nuits</h3>
        <p>
            Cette formule spéciale au départ de Nosy Be comprend un séjour de 5 jours et 4 nuits dans l'archipel des Mitsio. Le prix est calculé sur la base du nombre de participants, afin de diviser les coûts du bateau, du carburant et de l'intendance :
        </p>
        <span class="highlight">4 participants :</span> 
        <span class="price">800,00 € TTC par personne</span></br>
        <span class="highlight">3 participants :</span> 
        <span class="price">980,00 € TTC par personne</span></br>
        <span class="highlight">2 participants :</span> 
        <span class="price">1 380,00 € TTC par personne</span></br>
        <span class="highlight">1 participant (pêcheur seul) :</span> 
        <span class="price">2 580,00 € TTC</span></br>
    </div>



    <div class="card margin-10">
        <div class="card-header"><h2>Programme du 1er jour</h2></div>
        <div class="card-body">
            <strong>Départ de Nosy Be:</strong> Vers 8 h embarquement sur le <em>ZEUS</em> - Coque Open de 8 m de long et 2.80 m de large, propulsé par un moteur SUSUKI de 150 CV.</br>
            <strong>Équipements:</strong> Sondeur Huminbird Helix 10, sonde Chirp, GPS, gilets de sauvetage, radio, trousse de soins d’urgence.</br>
            <strong>Équipage:</strong> 1 Skipper et 1 marin, experts en techniques de pêche, à votre service pour une journée de pêche itinérante.</br>
            <strong>Repas:</strong> Pique-nique le midi sur le bateau, fruits du moment, 1 bouteille d’eau plate par jour et par personne.</br>
            <strong>Arrivée à l'archipel des Mitsio:</strong> Vers 17 h, visite du village de pêcheurs et installation dans un bungalow individuel.</br>
            <strong>Repas du soir:</strong> Dîner complet sur l’île (jus et boissons alcoolisées en supplément).</br>
            <strong>Douches:</strong> Avec seau et kapoaka, rappel de l'importance de préserver l'eau, ressource précieuse sur les îles.</br>
        </div>
    </div>

    <div class="card margin-10">
        <div class="card-header"><h2>Programme de 3 jours de pêche</h2></div>
        <div class="card-body">
                <strong>Petit déjeuner complet sur l’île:</strong> Chaque matin, profitez d'un petit déjeuner complet.</br>
                <strong>Session de pêche:</strong> Départ pour une session de pêche de 9 à 10 h, couvrant diverses techniques de pêche.</br>
                <strong>Repas du midi:</strong> Pique-nique sur le bateau avec fruits du moment et 1 bouteille d’eau plate par jour et par personne.</br>
                <strong>Repas du soir:</strong> Dîner complet sur l’île (jus et boissons alcoolisées en supplément).</br>
        </div>
    </div>

    <div class="card margin-10">
        <div class="card-header"><h2>Programme du 5ème jour</h2></div>
        <div class="card-body">
            <strong>Petit déjeuner:</strong> Petit déjeuner au village avant le départ.</br>
            <strong>Départ et pêche itinérante:</strong> Départ pour Nosy Be avec une journée de pêche itinérante, couvrant diverses techniques de pêche.</br>
            <strong>Repas du midi:</strong> Pique-nique sur le bateau, incluant fruits du moment et 1 bouteille d’eau plate par jour et par personne.</br>
            <strong>Arrivée:</strong> Retour à Ambatoloaka vers 17 h.</br>
        </div>
    </div>

           
    <div class="card margin-10">
        <div class="card-header">Informations supplémentaires</div>
        <div class="card-body">
                        <strong>À prévoir:</strong> Savon, shampoing et 1 serviette de toilette seront nécessaires dans l'archipel des Mitsio.
        </div>
    </div>

        <h2 class="text-center">Le matériel indispensable à prévoir</h2>

        <div class="content-section margin-5">
            <h2 class="my-4">Cannes et Moulinets</h2>
            <p>
                Il est fortement recommandé à chaque pêcheur d'apporter son propre matériel. Voici quelques conseils et exigences pour s'assurer que votre équipement soit adapté aux conditions de pêche :
            </p>
            <ul class="list-group mb-4">
                <li class="list-group-item">
                    <span class="highlight">Qualité des ensembles :</span> Les cannes et moulinets doivent être de très haute qualité pour résister à la violence des combats et à la taille des poissons.
                </li>
                <li class="list-group-item">
                    <span class="highlight">Préparation des moulinets :</span> Assurez-vous que vos moulinets soient bien remplis de fil de pêche adéquat, adapté aux conditions locales et aux espèces ciblées.
                </li>
                <li class="list-group-item">
                    <span class="important-note">Montages sérieux :</span> Utilisez des montages solides et fiables pour maximiser vos chances de succès et garantir la sécurité de votre équipement.
                </li>
            </ul>
        </div>

        <div class="content-section margin-5">
                <h2 class="my-4">Équipements et Accessoires Recommandés</h2>
                <ul class="equipment-list">
                    <li>
                        <span class="highlight">Plombs :</span> Hexagonaux de 150 et 200 g
                    </li>
                    <li>
                        <span class="highlight">Bas de ligne :</span> 
                        <ul>
                            <li>Acier 175# avec sleeves adaptées</li>
                            <li>Acier 275# avec sleeves adaptées</li>
                            <li>Fluorocarbone ou nylon 100, 120 ou 140# avec sleeves adaptées</li>
                        </ul>
                    </li>
                    <li>
                        <span class="highlight">Émerillons :</span> Noirs avec et sans agrafe, de préférence à billes, 150# et 200#
                    </li>
                    <li>
                        <span class="highlight">Anneaux brisés :</span> 150 et 200#, pince à anneaux
                    </li>
                    <li>
                        <span class="highlight">Hameçons :</span> Type marlin BHSC 8/0 ou équivalents, tailles 11 et 16/0
                    </li>
                    <li>
                        <span class="highlight">Équipement de pêche :</span> Baudrier, cannes et moulinets
                    </li>
                    <li>
                        <span class="highlight">Protection personnelle :</span>
                        <ul>
                            <li>Gants (obligatoires à bord en action de pêche)</li>
                            <li>Lunettes polarisantes</li>
                            <li>Casquette, chemise ou tee-shirt en coton blanc à manches longues</li>
                            <li>Pantalon ou short couvrant au minimum les genoux</li>
                            <li>Chaussures légères adhérentes couvrant le cou-de-pied</li>
                        </ul>
                    </li>
                    <li>
                        <span class="highlight">Soins et protection :</span>
                        <ul>
                            <li>Pansements, crème solaire indice 50, Biafine</li>
                            <li>Vêtement anti-UV recommandé</li>
                        </ul>
                    </li>
                    <li>
                        <span class="highlight">Éclairage :</span> Lampe de poche type mini Maglite ou lampe frontale LED et piles
                    </li>
                </ul>
            </div>

        <div class="card">
            <div class="card-header"><h3>Location de matériel de pêche possible au tarif de 20 € jour (avant le départ)</h3></div>
            <div class="card-body">
                <b>Elle comprend :</b>
                <p>cannes et moulinets pour traine, jig, lancer, palangrotte un set par personne. les plombs pour la pêche à la palangrotte sont fournis</p>
                <b>Elle ne comprend pas :</b>
                <p>les petits matériels (hameçons, émerillons, bas de ligne, leurres…). Leur achat est possible à Nosy Be – Ambatoloaka, avant le départ.</p>
            </div>
        </div>
    <div class="content-section margin-top-10">
        <h2 class="my-4">Conditions de Réservation et de Paiement</h2>
        <h5 class="mb-3">Acompte et Paiement</h5>
        <p>
            Un acompte de <span class="highlight">50% du montant total</span> de la prestation est requis à la réservation. Cet acompte peut être payé par virement bancaire ou en espèces, en euros ou en Ariary. Le solde restant doit être réglé avant l'embarquement sur le bateau, également en euros ou en Ariary.
        </p>

        <h5 class="mb-3">Conditions d'Annulation</h5>
        <p class="important-note">
            En cas de non-présentation à l'embarquement sans motif valable et sans préavis, l'acompte sera conservé dans son intégralité, sans possibilité de remboursement.
        </p>
        <p>
            Le paiement complet de la prestation est exigé avant l'embarquement. ECO PECHE MADA ne peut être tenue responsable de la perte, de la détérioration, ou de la casse du matériel des clients, que ce soit à terre ou à bord des bateaux, ni des blessures subies par un client. Toutes les précautions possibles seront prises pour minimiser les risques.
        </p>

        <h5 class="mb-3">Litiges et Juridiction</h5>
        <p>
            En cas de litige, seul le Tribunal de Nosy Be, Madagascar, sera compétent.
        </p>

        <h5 class="mb-3">Contact et Devis Personnalisé</h5>
        <p>
            Nous sommes à votre disposition pour élaborer avec vous un programme de pêche ou de loisirs sur mesure. Un devis personnalisé peut être établi selon vos besoins.
        </p>
    </div>
</div>
{% endblock %}