{% extends 'front/base.html.twig' %}
{% block nav %}
    {% include 'front/nav.html.twig' %}
{% endblock %}

{% block title %} {% endblock %}
{% block content %}
    <div class="container">
    <p>
    Au-delà de la Pêche et des Poissons
    L’Authenticité Malgache avec
    ECO PECHE MADA
    </p>
    <p>
    pour les amateurs d’exotisme et de sensations fortes, la Pêche à Nosy Be, c’est la pêche
    en no kill dans le célèbre archipel des Mitsio au départ de la plage d Ambatoloaka.
    </p>
    <p>
        Pour des raisons de sécurité et confort de pêche nous n'acceptons que 4 pêcheurs maximum
    à bord du bateau, le matériel de pêche n’est pas fourni.
    </p>
    <p>
        Cette formule spéciale au départ de Nosy Be de 5 jours et 4 nuits MITSIO au prix de 
    800.00 € ttc par personne est calculée en prenant le tarif individuel du séjour sur une 
    base de 4 participants Cette opération permet de diviser le coût total du bateau, du carburant 
    et de l’intendance par le nombre de participants et limite de ce fait le coût individuel. 
    Cette formule peut aussi être pratiquée au prix de 980.00 € ttc par personne sur une 
    base de 3 pêcheurs 
    ou au prix de 1380.00 € ttc par personne sur une base de 2 pêcheurs pour un séjour de 5
    jours et 4 nuits 
    ou encore au prix de 2580 € ttc pour seul pêcheur
    </p>
    <p>
        - 1
    er jour, départ de Nosy Be: vers 8 h embarquement sur le - ZEUS - Coque Open de 8 m
    de long et 2.80 m de large propulsé par un moteur SUSUKI de 150 CV toujours entretenu au 
    top et parfaitement équipé, sondeur Huminbird Helix 10, sonde Chirp, GPS, gilets de 
    sauvetage, radio, trousse de soins d’urgence, pour profiter au mieux de votre séjour, et ce en 
    toute sécurité. Son équipage, composé d’1 Skipper et d’1 marin rompus à toutes les 
    techniques de pêche, sera à votre service, après une journée de pèche itinérante toutes 
    techniques, avec repas le midi sur le bateau servi en pique-nique, fruits du moment, 1 
    bouteille d’eau plate par jour et par personne, arrivée vers 17 h dans le fameux archipel des 
    Mitsio, où vous découvrirez le village de pêcheurs et votre bungalow individuel sur l’une 
    des iles. Repas du soir complet sur l’ile, (jus et boissons alcoolisées en supplément). Les 
    douches se prennent ici avec seau et kapoaka. l’eau est précieuse dans les iles et elle est notre 
    avenir. Vous apprendrez ici des gestes éco-responsables pour la préserver.
    </p>
    <p>
        - 3 jours de pêche toutes techniques. petit déjeuner complet sur l’ile, départ pour une
    session de pèche de 9 à 10 h avec repas le midi sur le bateau servi en pique-nique, fruits du 
    moment, 1 bouteille d’eau plate par jour et par personne, le soir repas complet sur l’ile.

    </p>
    <p>
        - 5 ème jour, petit déjeuner puis départ du village et retour vers Nosy Be après une
    journée de pèche itinérante toutes techniques, avec repas le midi sur le bateau servi en 
    pique-nique, fruits du moment, 1 bouteille d’eau plate par jour et par personne, arrivée à 
    Ambatoloaka vers 17 h
    </p>
    <p>
        Savon, shampoing et 1 serviette de toilette seront à prévoir dans l’archipel des Mitsio.
    </p>
    <p>
        Contact infos et réservations : thellier31@gmail.com
    </p>
    <h4>Le matériel indispensable à prévoir :</h4>
    <h5>Cannes et moulinets</h5>
    <p>Chaque pêcheur à cœur d'emporter son propre matériel. Cannes et moulinets bien remplis.
    La violence des combats et la taille des poissons imposent des ensembles de très haute qualité 
    et des montages sérieux. </p>
    <h5>Le petit matériel commun à toutes les techniques de pèche
    </h5>
    Plomb hexagonaux 150 et 200 g 
    Bas de ligne Acier 175# + sleeves adaptées 
    Bas de ligne acier 275# + sleeves adaptées 
    Bas de ligne Fluorocarbone ou nylon 100, 120 ou 140# + sleeves adaptées 
    Emerillons noirs avec et sans agrafe de préférence à billes 150# et 200# 
    Anneaux brisés 150 et 200#, pince à anneaux 
    Hameçons type marlin BHSC 8/0 ou équivalents 
    Hameçons 11 et 16/0 
    Baudrier, cannes et moulinets 
    Gants (les gants sont obligatoires à bord en action de pêche) 
    Lunettes polarisantes 
    Casquette, Chemise ou teeshirt coton de préférence blanc à manches longues 
    Pantalon ou Short couvrant à minima les genoux 
    Chaussures légères adhérentes couvrant le coup de pied 
    Pansements, Crème solaire indice 50, Biafine 
    Un vêtement anti UV peut être le bienvenu 
    La lampe de poche type mini Maglite ou une lampe frontale LED et les piles
    <h5>location de matériel de pêche possible au tarif de 20 € jour (avant le départ)</h5>

    <b>Elle comprend :</b>
    cannes et moulinets pour traine, jig, lancer, palangrotte un set par personne.
    les plombs pour la pêche à la palangrotte sont fournis
    <b>Elle ne comprend pas :</b>
    les petits matériels (hameçons, émerillons, bas de ligne, leurres…)
    leur achat est possible à Nosy Be – Ambatoloaka, avant le départ
    <h5>Conditions de réservation et de paiement :</h5>
    <p>Un acompte de 50% du montant de la prestation est à payer d'avance, à la réservation, 
    par virement bancaire ou en espèces, en euros ou Ariarys. Le solde sera à verser avant 
    l'embarquement sur le bateau, en euros ou Ariarys.</p>

    <p>
        En cas de non-présentation à l’embarquement, sans motif valable ni prévenir, la totalité de 
    l’acompte sera conservée sans aucun recours possible. Le paiement devra être effectué en 
    totalité avant l’embarquement de départ, En aucun cas l’entreprise ECO PECHE MADA ne 
    pourra être tenue responsable de la perte, la détérioration, la casse du matériel des clients à 
    terre ou à bord des bateaux ainsi que toute blessure subit par un client. Bien entendu toutes les 
    mesures possibles seront prises pour en limiter les conséquences au mieux possible. 
    En cas de litige, seul le Tribunal de Nosy Be, Madagascar serait compétent. 
    Nous restons à votre disposition pour étudier avec vous un programme pêche ou loisirs sur 
    mesure et vous établir un devis personnalisé si besoin. 
    </p>
</div>
{% endblock %}