{% extends 'front/base.html.twig' %}
{% block nav %}
    {% include 'front/nav.html.twig' %}
{% endblock %}

{% block title %} {% endblock %}
{% block content %}
<div class="container">

<h2>Tarif journée de pêche autour de Nosy Be : 440 € ou 2 000 000 AR</h2>
<h3>4 pécheurs maximum (accompagnant-e bienvenu avec supplément repas)</h3>
<span>
prix pour la journée de pêche dans la zone 1, soit 5 miles dans la baie de Nosy Be, prix à 
diviser entre eux par le nombre de participants: 1, 2, 3, ou 4 personnes
</span>
<b>Comprend :</b>
<span>
Le - ZEUS - Coque Open de 8 m de long et 2.80 m de large propulsé par un moteur SUSUKI 
de 150 CV toujours entretenu au top et parfaitement équipé, sondeur Huminbird Helix 10, 
sonde Chirp, GPS, gilets de sauvetage, radio, trousse de soins d’urgence, pour profiter au 
mieux de votre sortie, et ce en toute sécurité.
Son équipage composé d’1 Skipper et d’1 marin tous deux rompus à toutes les techniques de 
pêche des eaux de Madagascar.
100 L de carburant pour une sortie d’un jour de pêche dans la baie avec départ 
d’Ambatoloaka à 8 h et retour à 17 h
</span>
<b>Ne comprend pas :</b>
<span>
les pourboires au personnel de bord, Le matériel de pêche, Le déjeuner. 
</span>
<b>Supplément repas 15 € par personne :</b>
<span>1 bouteille d’eau minérale, un déjeuner servi à bord en pique-nique, fruits du moment</span>
<h3>Location de matériel de pêche au tarif de 20 € jour (avec caution) :</h3>
<b>Comprend :</b>
<span>
cannes et moulinets pour traine, jig, lancer, palangrotte un set par personne.
les plombs et appâts pour la pêche à la palangrotte sont fournis
</span>
<b>Ne comprend pas :</b>
<span>
les petits matériels (hameçons, émerillons, bas de ligne, leurres…)
leur achat est possible à Nosy Be - Ambatoloaka
</span>
<b>Contact infos et réservations : thellier31@gmail.com</b>
</div>
{% endblock %}