{% extends 'front/base.html.twig' %}
{% block nav %}
    {% include 'front/nav.html.twig' %}
{% endblock %}

{% block title %} {% endblock %}
{% block content %}
<div class="container">
L’Authenticité Malgache avec ECO PECHE MADA  

Séjour 8 jours à Nosy Be avec activités terre et mer 

Tour de l’ile en voiture, visite de Nosy Iranja, Nosy Sakatia, Nosy Komba, Nosy Tanikely et 
de la réserve naturelle de Lokobe. 

Jour 1 : Accueil à l’aéroport de Nosy Be et transfert directement vers le village 
d’Ambatoloaka, installation dans votre hôtel 

img1 img2

Jour 2 : la découverte de Nosy Be en voiture                                                                             
le traditionnel marché couvert de Hell-ville, la visite du Lemuria Land, une baignade à 
Andilana Beach, les lacs sacrés et pour finir la journée, l’inoubliable coucher de soleil au 
Mont Passot.                                                                                                                     
Déjeuner à Andilana non compris durant le tour de l’ile.

img1 img2 img3 img4

Jour 3 : Sortie bateau, journée à Nosy Iranja avec déjeuner sur l’ile.   
Nosy Iranja est en fait deux îles reliées par un long banc de sable blanc qui mesure  2 km. Les îles 
abritent deux espèces de tortues marines. Cette île est un peu loin de Nosy Be.                                                                                                                                          
A partir de 8h30, embarquement en bateau rapide vers Nosy Iranja (distance de 45 km, la durée 
de la traversée est de 1h15).                                                                                               Arrivée sur 
une ile paradisiaque et visite du  village, baignade, promenade sur la plage, etc.                              
repas sur le sable au bord de la plage.                                                                                             
Vers 15h embarquement en bateau rapide vers Nosy Be, arrivée à l’hôtel vers 17h00 

img 1 img 2


Jour 4 : Sortie bateau Nosy Komba, Nosy Tanikely .   
Nosy Komba est l’une des plus grandes îles qui sont autour de Nosy Be et où un certain nombre 
de personnes rapatriées dans 8 villages. C’est une île aux Lémuriens mais le parc est un parc 
aménagée. Nosy  Komba est la capitale artisanale de Nosy Be, la vie de chaque village dépend 
principalement de la pêche et de la fabrication artisanale, c’est à dire que leurs vie dépend surtout 
les touristes . Ainsi, vous pouvez voir sur place de superbes nappes brodées et des objets en bois 
sculpté  (vous verrez comment ils le font sur place).           
Nosy Tanikely est l’une des plus petites îles de Nosy Be. L’île abrite plusieurs espèces de poissons 
et de coraux, à savoir que Tanikely est l’une des meilleures île de Madagascar. Cette île est une  
réserve naturelle marine protégée.                                                                                                                                                                                                       
Embarquement dans un bateau rapide vers Nosy Komba (environ 30 minutes en bateau).   En 
arrivant à Nosy Komba débarquement sur la plage du village appelé  Ambariovato.                      
Premièrement visite des animaux dans le parc (visite pendant 1 heure) et après promenade au 
milieu des maisons typiques, vous pouvez faire du shopping ou acheter des souvenirs si vous le 
souhaitez.                                                                                                                                Vers 
11h00, embarquement en bateau rapide vers Nosy Tanikely  (trajet 20 minutes).            En arrivant 
sur l’île, vous avez tout le temps pour la baignade.                                                 Vers 12h00 ou 
12h30 repas typique sur la plage.                                                                          Vers 14h00 visite 
pédestre de l’ile ou refaire de la plongée en apnée. (Selon la préférence des clients).                                                                                                                                               
Retour vers 15h30 après embarquement dans un bateau rapide.                                          Arrivée 
à l’hôtel vers 16h30. 


img1 img2

Jour 5 : Nosy Sakatia et ses tortues de mer géantes     
Nosy Sakatia est une piscine naturelle qui abrite les plus grandes tortues marines malgaches.                                                                                                                                                                                                                                                                                                                                                                       
A partir de 8h30, embarquement en bateau rapide et se diriger vers l’île Sakatia ( traversée 
durant  30 minutes). En arrivant sur l’île vous pourrez visiter le village et  l’île puis                                                                     
ensuite nager avec les tortues de mer dans des profondeurs de 2 mètres.                                 Vers 
12h30, repas typique malgache au bord de la mer dans le village.                                         Et puis, 
la plage et se détendre.                                                                                    Retour vers 16h00  
l’après-midi. Arrivée à l’hôtel vers 16h30. 

img1 img2

Jour 6 : Réserve naturelle de Lokobe 
Embarquement dans un bateau rapide qui traversera des forêts de mangrove, direction la 
réserve naturelle de Lokobe.  En arrivant à la réserve nous prenons une pause. La réserve 
naturelle de Lokobe est un parc naturel. Les villageois sont principalement responsables de 
protéger la forêt et les animaux qui sont là. Les taxes  à payer  reviennent au village. La forêt 
Lokobe abrite diverses espèces animales et plantes médicinales. Vous y trouverez presque 
toute la biodiversité de Madagascar.                                                                                       
Après cela, nous allons visiter la réserve. Visite durant 3 heures.  
Au cours de la visite, vous verrez une faune et une flore très différente des autres parc.                                                                                                                   
La forêt de Lokobe abrite diverses espèces d’animaux et de plantes endémiques.                                      
Déjeuner au Village vers 13h00. 
Embarquement en bateau rapide vers 15h00  Arrivée à l’hôtel vers 16h30.

img1 img2 img3 img4

Jour 7 : repos détente et plage à Ambatoloaka 

img1 img2

Jour 8 : petit déjeuner, transfert, départ aéroport. 

img


Contact infos et réservations : thellier31@gmail.com 

Ce séjour exceptionnel personnalisé vous est proposé au prix exceptionnel de 1249,00 € 
par personne.                         

Cette formule peut aussi être pratiquée au prix de 1380.00 € ttc par personne sur une base de 3 
participants pour un séjour de 8 jours et 7 nuits.  

Ou au prix de 1660.00 € ttc par personne sur une base de 2 participants pour un séjour de 8 jours 
et 7 nuits.    

ou encore au prix de 2890 € pour une personne seule pour un séjour de 8 jours et 7 nuits.   

Conditions de réservation et de paiement : 
 
Un acompte de 50% par personne du montant de la prestation sera à payer d'avance avant 
votre départ par virement bancaire.                                                                                         
Dès réception de celui-ci, votre réservation est activée et votre contrat, ainsi qu’un reçu 
d’acompte sont édités et envoyés par mail.  
Le solde sera à verser par virement bancaire, ou sur place dès votre arrivée, en euros.                                                                                                                                                           
En cas d'annulation 2 mois avant l'arrivée au lodge, 50% de l'acompte sera remboursé. 
1 mois avant l'embarquement, 25% de l'acompte sera remboursé.                                           
En cas de non-présentation sans motif valable ni prévenir, la totalité de l’acompte sera 
conservée sans aucun recours possible.                                                                                                               
En aucun cas la société ne pourra être tenue responsable de la perte, la détérioration, la casse 
du matériel ou des bagages des clients à terre ou à bord des bateaux ainsi que de toute 
blessure subie par un client. Bien entendu toutes les mesures possibles serais prises pour en 
limiter les conséquences au mieux.                                                                                           
En cas de litige, seul le Tribunal de Nosy Be, Madagascar est compétent. Nous restons à votre 
disposition pour vous étudier un autre programme pêche ou loisirs et vous établir un devis 
personnalisé si besoin. 
 
Comme dans tout établissement hôtelier un passeport en cours de validité devra être présenté 
à votre arrivé et sera conservé en sécurité jusqu’au moment de votre départ et du règlement, le 
cas échéant, de tous les suppléments consommés.                                                                                      
(bar, restauration, lingerie, room service et toute prestation non inclue aux forfaits). 


Prestations inclues : 


Transfert de l’aéroport à l’hôtel, Bateau rapide avec skippers pour les excursions                   
L’hôtel ***, les petits déjeuners, les guides, les droits d’entrée pour chaque site                     
Toutes les excursions, les repas pour toutes les excursions, 1 bouteille d’eau par personne 
pour chaque excursion. 


Services non inclus : 


Besoins personnels, vol international, pourboires aux guides et autres.                                      
Le déjeuner à Andilana pendant le tour de l’ile,                                                                    
le déjeuner du 7 ème jour à Ambatoloaka.                                                                                                                             
Les dîners, jus et boissons alcoolisées durant votre séjour. 


Remarques : 


Les diners à Nosy Be sont à la charge des clients,                                                                                                                                                   
Les clients doivent prévoir des chaussures de marche, vêtements légers,                                
crème solaire indice 50 et anti-moustique tropical. 
</div>
{% endblock %}