{% extends 'front/base.html.twig' %}
{% block nav %}
    {% include 'front/nav.html.twig' %}
{% endblock %}

{% block title %} {% endblock %}
{% block content %}
{% include 'front/modele/band-hero.html.twig' with {
                'image':'slide1.jpg',
                'titre':'L’Authenticité Malgache avec ECO PECHE MADA',
                'url':'#',
                'bouton':false,
                'class':'pt-5 mb-5',
                'description':"
                Séjour 8 jours à Nosy Be avec activités terre et mer
                Tour de l’ile en voiture, visite de Nosy Iranja, Nosy Sakatia, Nosy Komba, Nosy Tanikely et de la réserve naturelle de Lokobe.
                ",
                
    }%} 
<div class="container-fluid mt-5">
    <div>
        <div class="section-flex">
        <div class="day-section">
            <p class="day-title">Jour 1 :</p>
            <p>Accueil à l’aéroport de Nosy Be et transfert directement vers le village d’Ambatoloaka, installation dans votre hôtel.</p>
            <div class="row">
                {% include 'front/modele/image.html.twig' with {'src':'sejour1.jpg', 'class':'width-40 margin-left-5', 'titre':""} %}
                {% include 'front/modele/image.html.twig' with {'src':'sejour2.jpg', 'class':'width-40 margin-left-5', 'titre':""} %}
            </div>
        </div>

        <div class="day-section">
            <p class="day-title">Jour 2 :</p>
            <p>Découverte de Nosy Be en voiture : visite du marché couvert de Hell-ville, le Lemuria Land, baignade à Andilana Beach, les lacs sacrés, et coucher de soleil au Mont Passot. Déjeuner à Andilana non compris.</p>
            <div class="row">
                {% include 'front/modele/image.html.twig' with {'src':'sejour3.jpg', 'class':'width-40 margin-left-5 margin-top-5', 'titre':""} %}
                {% include 'front/modele/image.html.twig' with {'src':'sejour4.jpg', 'class':'width-40 margin-left-5 margin-top-5', 'titre':""} %}
                {% include 'front/modele/image.html.twig' with {'src':'sejour5.jpg', 'class':'width-40 margin-left-5 margin-top-5', 'titre':""} %}
                {% include 'front/modele/image.html.twig' with {'src':'sejour6.jpg', 'class':'width-40 margin-left-5 margin-top-5', 'titre':""} %}
            </div>
        </div>

        <div class="day-section">
            <p class="day-title">Jour 3 :</p>
            <p>Sortie bateau à Nosy Iranja, déjeuner sur l'île, visite du village, baignade, retour à l'hôtel en fin de journée.</p>
            <div class="row">
                {% include 'front/modele/image.html.twig' with {'src':'sejour8.jpg', 'class':'width-40 margin-left-5', 'titre':""} %}
                {% include 'front/modele/image.html.twig' with {'src':'sejour9.jpg', 'class':'width-40 margin-left-5', 'titre':""} %}
            </div>
        </div>

        <div class="day-section">
            <p class="day-title">Jour 4 :</p>
            <p>Excursion à Nosy Komba et Nosy Tanikely : visite des lémuriens, shopping, baignade, repas typique, retour en fin d'après-midi.</p>
            <div class="row">
                {% include 'front/modele/image.html.twig' with {'src':'sejour10.jpg', 'class':'width-40 margin-left-5', 'titre':""} %}
                {% include 'front/modele/image.html.twig' with {'src':'sejour11.jpg', 'class':'width-40 margin-left-5', 'titre':""} %}
            </div>
        </div>

        <div class="day-section">
            <p class="day-title">Jour 5 :</p>
            <p>Excursion à Nosy Sakatia : rencontre avec les tortues marines, visite du village, déjeuner malgache, détente sur la plage.</p>
            <div class="row">
                {% include 'front/modele/image.html.twig' with {'src':'sejour12.jpg', 'class':'width-40 margin-left-5', 'titre':""} %}
                {% include 'front/modele/image.html.twig' with {'src':'sejour13.jpg', 'class':'width-40 margin-left-5', 'titre':""} %}
            </div>
        </div>

        <div class="day-section">
            <p class="day-title">Jour 6 :</p>
            <p>Réserve naturelle de Lokobe : visite de la forêt, découverte de la faune et la flore endémiques, déjeuner au village.</p>
            <div class="row">
                {% include 'front/modele/image.html.twig' with {'src':'sejour14.jpg', 'class':'width-40 margin-left-5 margin-top-5', 'titre':""} %}
                {% include 'front/modele/image.html.twig' with {'src':'sejour15.jpg', 'class':'width-40 margin-left-5 margin-top-5', 'titre':""} %}
                {% include 'front/modele/image.html.twig' with {'src':'sejour16.jpg', 'class':'width-40 margin-left-5 margin-top-5', 'titre':""} %}
                {% include 'front/modele/image.html.twig' with {'src':'sejour17.jpg', 'class':'width-40 margin-left-5 margin-top-5', 'titre':""} %}
            </div>
        </div>

        <div class="day-section">
            <p class="day-title">Jour 7 :</p>
            <p>Repos, détente et plage à Ambatoloaka.</p>
            <div class="row">
                {% include 'front/modele/image.html.twig' with {'src':'sejour18.jpg', 'class':'width-40 margin-left-5', 'titre':""} %}
                {% include 'front/modele/image.html.twig' with {'src':'sejour19.jpg', 'class':'width-40 margin-left-5', 'titre':""} %}
            </div>
        </div>

        <div class="day-section">
            <p class="day-title">Jour 8 :</p>
            <p>Petit déjeuner, transfert, départ aéroport.</p>
            <div class="row">
                {% include 'front/modele/image.html.twig' with {'src':'sejour20.jpg', 'class':'width-40 margin-left-5', 'titre':""} %}
            </div>
        </div>

        <div class="price">
            Ce séjour exceptionnel personnalisé vous est proposé au prix exceptionnel de 1249,00 € par personne.
        </div>
        <p>Cette formule peut aussi être pratiquée au prix de 1380.00 € ttc par personne sur une base de 3 participants pour un séjour de 8 jours et 7 nuits. Ou au prix de 1100.00 € ttc par personne sur une base de 4 participants pour un séjour de 8 jours et 7 nuits.</p>
        
        <div class="booking-conditions">
            <p class="section-title">Conditions de réservation :</p>
            <p>Pour toute réservation, un acompte de 30% est demandé. Le solde est à régler 30 jours avant le départ. En cas d’annulation de votre part, l’acompte ne sera pas remboursé.</p>
            <p class="remark">Le plus important pour nous est que vous puissiez passer de bonnes vacances dans notre établissement, et dans les meilleures conditions.</p>
        </div>
        
        <div class="contact-info">
            <p class="section-title">Contactez-nous :</p>
            <p>Pour toutes informations ou demandes de réservation, contactez-nous par téléphone au 034 02 134 02 ou par email à info@ecopechemada.com.</p>
        </div>
        </div>
    </div>
</div>
{% endblock %}