{% extends 'front/base.html.twig' %}
{% block nav %}
    {% include 'front/nav.html.twig' %}
{% endblock %}

{% block title %} {% endblock %}
{% block content %}
{% include 'front/modele/band-hero.html.twig' with {
                'image':'slide1.jpg',
                'titre':'L’Authenticité Malgache avec ECO PECHE MADA',
                'url':'#',
                'bouton':false,
                'class':'pt-5 mb-5',
                'description':"
                Séjour 8 jours à Nosy Be avec activités terre et mer
                Tour de l’ile en voiture, visite de Nosy Iranja, Nosy Sakatia, Nosy Komba, Nosy Tanikely et de la réserve naturelle de Lokobe.
                ",
                
    }%} 
<div class="container mt-5">
    <div>
        <div class="section-flex">
        <div class="day-section">
            <p class="day-title">Jour 1 :</p>
            <p>Accueil à l’aéroport de Nosy Be et transfert directement vers le village d’Ambatoloaka, installation dans votre hôtel.</p>
            <div class="row">
                {# {% include 'front/modele/image.html.twig' with {'src':'sejour1.jpg', 'class':'width-40 margin-left-5', 'titre':""} %}
                {% include 'front/modele/image.html.twig' with {'src':'sejour2.jpg', 'class':'width-40 margin-left-5', 'titre':""} %} #}
                {% include 'front/modele/carousel.html.twig' with {
                        'data':[
                                {'image':'sejour1.jpg','titre':'', 'description':'','active':'active'},
                                {'image':'sejour2.jpg','titre':'', 'description':'','active':''},
                        ],
                        'text_fixe': '',
                        'text_description' : '',
                        'class':'col-lg-12'
                } %}
            </div>
        </div>

        <div class="day-section">
            <p class="day-title">Jour 2 :</p>
            <p>Découverte de Nosy Be en voiture : visite du marché couvert de Hell-ville, le Lemuria Land, baignade à Andilana Beach, les lacs sacrés, et coucher de soleil au Mont Passot. Déjeuner à Andilana non compris.</p>
            <div class="row">
                {# {% include 'front/modele/image.html.twig' with {'src':'sejour3.jpg', 'class':'width-40 margin-left-5 margin-top-5', 'titre':""} %}
                {% include 'front/modele/image.html.twig' with {'src':'sejour4.jpg', 'class':'width-40 margin-left-5 margin-top-5', 'titre':""} %}
                {% include 'front/modele/image.html.twig' with {'src':'sejour5.jpg', 'class':'width-40 margin-left-5 margin-top-5', 'titre':""} %}
                {% include 'front/modele/image.html.twig' with {'src':'sejour6.jpg', 'class':'width-40 margin-left-5 margin-top-5', 'titre':""} %} #}
                 {% include 'front/modele/carousel.html.twig' with {
                        'data':[
                                {'image':'sejour3.jpg','titre':'', 'description':'','active':'active'},
                                {'image':'sejour4.jpg','titre':'', 'description':'','active':''},
                                {'image':'sejour5.jpg','titre':'', 'description':'','active':''},
                        ],
                        'text_fixe': '',
                        'text_description' : '',
                        'class':'col-lg-12'
                } %}

            </div>
        </div>

        <div class="day-section">
            <p class="day-title">Jour 3 :</p>
            <p>Sortie bateau à Nosy Iranja, déjeuner sur l'île, visite du village, baignade, retour à l'hôtel en fin de journée.</p>
            <div class="row">
                {# {% include 'front/modele/image.html.twig' with {'src':'sejour8.jpg', 'class':'width-40 margin-left-5', 'titre':""} %}
                {% include 'front/modele/image.html.twig' with {'src':'sejour9.jpg', 'class':'width-40 margin-left-5', 'titre':""} %} #}
                {% include 'front/modele/carousel.html.twig' with {
                        'data':[
                                {'image':'sejour8.jpg','titre':'', 'description':'','active':'active'},
                                {'image':'sejour9.jpg','titre':'', 'description':'','active':''},
                        ],
                        'text_fixe': '',
                        'text_description' : '',
                        'class':'col-lg-12'
                } %}
            </div>
        </div>

        <div class="day-section">
            <p class="day-title">Jour 4 :</p>
            <p>Excursion à Nosy Komba et Nosy Tanikely : visite des lémuriens, shopping, baignade, repas typique, retour en fin d'après-midi.</p>
            <div class="row">
                {# {% include 'front/modele/image.html.twig' with {'src':'sejour10.jpg', 'class':'width-40 margin-left-5', 'titre':""} %}
                {% include 'front/modele/image.html.twig' with {'src':'sejour11.jpg', 'class':'width-40 margin-left-5', 'titre':""} %}
                 #}
                {% include 'front/modele/carousel.html.twig' with {
                        'data':[
                                {'image':'sejour10.jpg','titre':'', 'description':'','active':'active'},
                                {'image':'sejour11.jpg','titre':'', 'description':'','active':''},
                        ],
                        'text_fixe': '',
                        'text_description' : '',
                        'class':'col-lg-12'
                } %}
            </div>
        </div>

        <div class="day-section">
            <p class="day-title">Jour 5 :</p>
            <p>Excursion à Nosy Sakatia : rencontre avec les tortues marines, visite du village, déjeuner malgache, détente sur la plage.</p>
            <div class="row">
                {# {% include 'front/modele/image.html.twig' with {'src':'sejour12.jpg', 'class':'width-40 margin-left-5', 'titre':""} %}
                {% include 'front/modele/image.html.twig' with {'src':'sejour13.jpg', 'class':'width-40 margin-left-5', 'titre':""} %} #}
                {% include 'front/modele/carousel.html.twig' with {
                        'data':[
                                {'image':'sejour12.jpg','titre':'', 'description':'','active':'active'},
                                {'image':'sejour13.jpg','titre':'', 'description':'','active':''},
                        ],
                        'text_fixe': '',
                        'text_description' : '',
                        'class':'col-lg-12'
                } %}
            </div>
        </div>

        <div class="day-section">
            <p class="day-title">Jour 6 :</p>
            <p>Réserve naturelle de Lokobe : visite de la forêt, découverte de la faune et la flore endémiques, déjeuner au village.</p>
            <div class="row">
                {# {% include 'front/modele/image.html.twig' with {'src':'sejour14.jpg', 'class':'width-40 margin-left-5 margin-top-5', 'titre':""} %}
                {% include 'front/modele/image.html.twig' with {'src':'sejour15.jpg', 'class':'width-40 margin-left-5 margin-top-5', 'titre':""} %}
                {% include 'front/modele/image.html.twig' with {'src':'sejour16.jpg', 'class':'width-40 margin-left-5 margin-top-5', 'titre':""} %}
                {% include 'front/modele/image.html.twig' with {'src':'sejour17.jpg', 'class':'width-40 margin-left-5 margin-top-5', 'titre':""} %} #}
                
                {% include 'front/modele/carousel.html.twig' with {
                        'data':[
                                {'image':'sejour14.jpg','titre':'', 'description':'','active':'active'},
                                {'image':'sejour15.jpg','titre':'', 'description':'','active':''},
                                {'image':'sejour16.jpg','titre':'', 'description':'','active':''},
                                {'image':'sejour17.jpg','titre':'', 'description':'','active':''},
                        ],
                        'text_fixe': '',
                        'text_description' : '',
                        'class':'col-lg-12'
                } %}
            </div>
        </div>

        <div class="day-section">
            <p class="day-title">Jour 7 :</p>
            <p>Repos, détente et plage à Ambatoloaka.</p>
            <div class="row">
                {# {% include 'front/modele/image.html.twig' with {'src':'sejour18.jpg', 'class':'width-40 margin-left-5', 'titre':""} %}
                {% include 'front/modele/image.html.twig' with {'src':'sejour19.jpg', 'class':'width-40 margin-left-5', 'titre':""} %}
                 #}
                {% include 'front/modele/carousel.html.twig' with {
                        'data':[
                                {'image':'sejour18.jpg','titre':'', 'description':'','active':'active'},
                                {'image':'sejour19.jpg','titre':'', 'description':'','active':''},
                        ],
                        'text_fixe': '',
                        'text_description' : '',
                        'class':'col-lg-12'
                } %}
            </div>
        </div>

        <div class="day-section">
            <p class="day-title">Jour 8 :</p>
            <p>Petit déjeuner, transfert, départ aéroport.</p>
            <div class="row">
                {% include 'front/modele/image.html.twig' with {'src':'sejour20.jpg', 'class':'width-95 margin-left-5', 'titre':""} %}
            </div>
        </div>

        <div class="card price-card mb-4">
            <div class="card-header price-card-header d-flex">
                <h2>Séjour Exceptionnel</h2>
                <div class="price padding-left-10">1249,00 € <small>par personne</small></div>
            </div>
            <div class="card-body">
                <p>Ce séjour personnalisé est proposé à un prix exceptionnel de 1249,00 € par personne.</p>
                <p>Il peut également être réservé pour :</p>
                <ul>
                    <li>1380,00 € TTC par personne pour 3 participants (8 jours et 7 nuits)</li>
                    <li>1100,00 € TTC par personne pour 4 participants (8 jours et 7 nuits)</li>
                </ul>
            </div>
            <div class="card-footer">
                <h2>Conditions de Réservation</h2>

                <p>Pour réserver, un acompte de 30% est requis. Le solde doit être réglé 30 jours avant le départ. En cas d'annulation, l'acompte n'est pas remboursable.</p>
                <p>Notre priorité est de vous offrir des vacances inoubliables dans les meilleures conditions possibles.</p>
                <h2>Contactez-nous</h2>

                <p>Pour plus d'informations ou pour réserver, contactez-nous :</p>
                <p>Téléphone : <a href="tel:+261340213402">+261 34 02 134 02</a></p>
                <p>Email : <a href="mailto:contact@echopechemada.mg">contact@echopechemada.mg</a></p>
            </div>
        </div>

        
    </div>
</div>
{% endblock %}