{% extends 'front/base.html.twig' %}
{% block nav %}
    {% include 'front/nav.html.twig' %}
{% endblock %}

{% block title %} {% endblock %}
{% block content %}

{% include 'front/modele/band-hero.html.twig' with {
                'image':'slide1.jpg',
                'titre':'Au-delà de la Pêche et des Poissons
    L’Authenticité Malgache avec
    ECO PECHE MADA',
                'url':'#',
                'bouton':false,
                'class':'pt-5 mb-5',
                'description':"",
                
    }%}
<div class="container">
    <p>
        NOSY BE est une ile paradisiaque. C’est un endroit où l’authenticité de la vie malgache est
    restée la priorité. Les levés et couchés de soleil sont grandioses de couleurs !
    Des jours merveilleux que vous n’oublierez jamais !
    </p>
    <p>
        pour les amateurs d’exotisme et de sensations fortes, la Pêche à Nosy Be, c’est la pêche dans
    le célèbre archipel des Mitsio…
    </p>
    <p>
        Pour des raisons de sécurité et de confort de pêche nous n'acceptons que 4 pêcheurs maximum
    à bord du bateau.
    </p>
    {% include 'front/modele/image.html.twig' with {'src':'sejour_mitsio1.jpg', 'class':'width-100 margin-left-5', 'titre':""} %}

    <p>
        Nous nous efforçons de respecter une éthique, le No Kil est pratiqué autant que possible,
    nous prenons soin de sélectionner soigneusement et de limiter nos prises au minimum. Les
    poissons pris et qui ne peuvent pas être relâchés ne sont pas perdus, nous conservons le
    nécessaire à notre alimentation et le reste est redistribué
    </p>
    {# {% include 'front/modele/image.html.twig' with {'src':'sejour_mitsio2.jpg', 'class':'width-48 height-img-350 margin-5', 'titre':""} %}
    {% include 'front/modele/image.html.twig' with {'src':'sejour_mitsio3.jpg', 'class':'width-48 height-img-350 margin-5', 'titre':""} %}
    {% include 'front/modele/image.html.twig' with {'src':'sejour_mitsio4.jpg', 'class':'width-48 height-img-350 margin-5', 'titre':""} %}
    {% include 'front/modele/image.html.twig' with {'src':'sejour_mitsio5.jpg', 'class':'width-48 height-img-350 margin-5', 'titre':""} %} #}

    {% include 'front/modele/gallery.html.twig' with {'data': [
            {'image': 'sejour_mitsio2.jpg'},
            {'image': 'sejour_mitsio3.jpg'},
            {'image': 'sejour_mitsio4.jpg'},
            {'image': 'sejour_mitsio5.jpg'},
    ]} %}
        
    <div class="content-section">
        <h2 class="my-4">Tarifs et Conditions - Séjour MITSIO</h2>
        <p>
            Cette formule spéciale MITSIO est proposée au prix de <span class="price">1 560,00 € TTC par personne</span> pour un séjour de 8 jours et 7 nuits, calculé sur la base de 4 participants.
        </p>
        <p>
            Chaque session de pêche est organisée sur la base d'un minimum de 4 participants. Cette organisation permet de répartir les coûts totaux du bateau et de l’intendance entre les participants, réduisant ainsi le coût individuel du séjour.
        </p>
        <h5 class="my-3">Tarifs selon le Nombre de Participants :</h5>
        <ul class="list-group mb-4">
            <li class="list-group-item">
                <span class="highlight">Base de 4 participants :</span> 
                <span class="price">1 560,00 € TTC par personne</span>
            </li>
            <li class="list-group-item">
                <span class="highlight">Base de 3 participants :</span> 
                <span class="price">1 780,00 € TTC par personne</span>
            </li>
            <li class="list-group-item">
                <span class="highlight">Base de 2 participants :</span> 
                <span class="price">2 580,00 € TTC par personne</span>
            </li>
            <li class="list-group-item">
                <span class="highlight">Base d'1 participant :</span> 
                <span class="price">3 980,00 € TTC</span>
            </li>
        </ul>
        <p class="note">
            Le coût du carburant à Madagascar est de 1,40 € par litre. La consommation du bateau est évaluée en centaines de litres par jour, en fonction des distances parcourues, ce qui explique les variations de tarif selon le nombre de participants.
        </p>
    </div>

    <h2>
        TOUS NOS TARIFS S'ENTENDENT HORS TRANSPORTS AÉRIENS
    </h2>
<div class="content-section">
    <h2 class="text-center">Formule Pêche aux Mitsio - Détails</h2>
    <div class="day-section">
        <div class="day-title">Jour 1 : Arrivée à Nosy Be</div>
        <strong>Accueil :</strong> Accueil à l'aéroport de Nosy Be et transfert direct vers le village d'Ambatoloaka.</br>
        <strong>Hébergement :</strong> Installation dans votre hôtel 3 étoiles en chambre individuelle (climatisée, TV, WC, salle de bain).</br>
        <strong>Présentation :</strong> Présentation du restaurant et découverte des environs.</br>
    </div>

    <div class="day-section">
        <div class="day-title">Jour 2 : Départ pour les Mitsio</div>
            <strong>Petit déjeuner :</strong> Petit déjeuner à terre.</br>
            <strong>Embarquement :</strong> Embarquement sur le <span class="highlight">ZEUS</span>, une coque open de 8 m de long et 2,80 m de large, propulsée par un moteur Suzuki de 150 CV. Le bateau est parfaitement équipé avec sondeur Huminbird Helix 10, sonde Chirp, GPS, gilets de sauvetage, radio et trousse de soins d'urgence.</br>
            <strong>Navigation :</strong> Départ pour une journée de pêche itinérante. Arrivée dans l'archipel des Mitsio avec découverte du village de pêcheurs et installation dans votre bungalow individuel sur l'une des îles.</br>
            <strong>Repas :</strong> Repas du soir complet sur l'île (jus et boissons alcoolisées en supplément). Douches avec seau et kapoaka. Apprenez des gestes éco-responsables pour préserver l'eau, une ressource précieuse.</br>
    </div>
    <div class="day-section">
        <div class="day-title">Jours 3 à 6 : Sessions de Pêche</div>
            <strong>Petit déjeuner :</strong> Petit déjeuner complet sur l'île.</br>
            <strong>Sessions de pêche :</strong> Départ pour une session de pêche de 9 h à 10 h. Repas le midi sur le bateau servi en pique-nique, avec fruits du moment et 1 bouteille d'eau plate par jour et par personne.</br>
            <strong>Dîner :</strong> Repas complet le soir sur l'île.</br>
    </div>
    
    <div class="day-section">
        <div class="day-title">Jour 7 : Retour à Nosy Be</div>
            <strong>Embarquement :</strong> Départ pour une journée de pêche itinérante pendant le retour vers Nosy Be.</br>
            <strong>Arrivée :</strong> Arrivée en fin d'après-midi à Nosy Be.</br>
            <strong>Dîner et Hébergement :</strong> Dîner au restaurant et nuitée à l'hôtel en chambre individuelle.</br>
    </div>

    <div class="day-section">
        <div class="day-title">Jour 8 : Départ</div>
            <strong>Petit déjeuner :</strong> Petit déjeuner au restaurant face à la plage.</br>
            <strong>Départ :</strong> Transport vers l'aéroport pour votre départ.</br>

    </div>
</div>
<div class="section-flex">
    <div class="content-section width-49 margin-5">
        <h3>Prestations inclues :</h3>
        <p>
            Transfert de l’aéroport à l’hôtel, Bateau rapide avec skipper et marin pour les sorties pêche
        2 nuitées en hôtel ***, 5 nuitées en bungalow individuel sur nosy Mitsio, les diners sur nosy
        Mitsio, tous les petits déjeuners, les guides, les déjeuners pour toutes les sorties, 1 bouteille
        d’eau par jour et par personne, deux diners en restaurant à Nosy Be
        </p>

    </div>
    <div class="content-section width-49 margin-5">

        <h3>Services non inclus :</h3>
        <p>
            Besoins personnels, vols internationaux, pourboires aux personnels.
        jus et boissons alcoolisées.
        </p>


        <p>
            Comme dans tout établissement hôtelier un passeport en cours de validité devra
        être présenté à votre arrivé et sera conservé en sécurité au coffre jusqu’au moment de votre
        départ et du règlement, le cas échéant, de tous les suppléments consommés.
        (bar, restauration, lingerie, room service et toute prestation non inclue aux forfaits).
        </p>
    </div>

    {% include 'front/modele/image.html.twig' with {'src':'sejour_mitsio6.jpg', 'class':'width-40 margin-left-5 height-img-350', 'titre':""} %}
    {% include 'front/modele/image.html.twig' with {'src':'merou.jpg', 'class':'width-59 margin-left-5 height-img-350', 'titre':""} %}

</div>

    <div class="content-section width-99 margin-5">
        <h3>LA PECHE</h3>
            <p>
                Vous pourrez combattre lors de votre séjour de pêche à Nosy Be, une quinzaine de variétés de
            carangues, une soixantaine de différents mérous, des requins, des barracudas, des vivaneaux,
            plusieurs variétés de thons (yellowfin, big eye, dent de chien et les plus nombreuses : les
            bonites, des sérioles et liches tropicales, et de décembre à mars le Marlin Bleu, le Marlin Noir
            est présent toute l’année avec un pic d’activité durant l’été austral.
            </p>
    </div>
    
    <h3>Le matériel indispensable à prévoir :</h3>
<div class="section-flex">
    <div class="card mb-4 width-10">
        <div class="card-header">
            1. Matériel de Pêche Personnel
        </div>
        <div class="card-body">
            <p>
                Chaque pêcheur doit impérativement emporter son propre matériel, comprenant des cannes et moulinets bien remplis. La taille des poissons et la violence des combats nécessitent des ensembles de très haute qualité et des montages sérieux.
            </p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            2. Petit Matériel Commun à Toutes les Techniques de Pêche
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Plombs <span class="highlight">Hexagonaux 150 g et 200 g</span></li>
            <li class="list-group-item">Bas de ligne Acier : <span class="highlight">175#</span> + sleeves adaptées</li>
            <li class="list-group-item">Bas de ligne Acier : <span class="highlight">275#</span> + sleeves adaptées</li>
            <li class="list-group-item">Bas de ligne Fluorocarbone ou Nylon : <span class="highlight">100#, 120# ou 140#</span> + sleeves adaptées</li>
            <li class="list-group-item">Émerillons noirs : Avec et sans agrafe, de préférence à billes <span class="highlight">150# et 200#</span></li>
            <li class="list-group-item">Anneaux brisés : <span class="highlight">150# et 200#</span>, pince à anneaux</li>
            <li class="list-group-item">Hameçons type marlin : <span class="highlight">BHSC 8/0 ou équivalents</span></li>
            <li class="list-group-item">Hameçons : <span class="highlight">11 et 16/0</span></li>
        </ul>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            3. Équipements de Sécurité et Confort
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Baudrier, cannes et moulinets</li>
            <li class="list-group-item">Gants : Les gants sont obligatoires à bord en action de pêche</li>
            <li class="list-group-item">Lunettes polarisantes</li>
            <li class="list-group-item">Casquette, chemise ou tee-shirt en coton de préférence blanc à manches longues</li>
            <li class="list-group-item">Pantalon ou short couvrant au minimum les genoux</li>
            <li class="list-group-item">Chaussures légères adhérentes couvrant le coup de pied</li>
        </ul>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            4. Articles de Première Nécessité
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Pansements</li>
            <li class="list-group-item">Crème solaire : <span class="highlight">Indice 50</span></li>
            <li class="list-group-item">Biafine</li>
            <li class="list-group-item">Vêtement anti-UV : Peut être le bienvenu</li>
            <li class="list-group-item">Lampe de poche : Type mini Maglite ou lampe frontale LED, ainsi que les piles (souvent oubliées)</li>
        </ul>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            5. Éléments Supplémentaires
        </div>
        <div class="card-body">
            <p>
                N'oubliez pas d'emporter votre bonne humeur et votre joie de vivre, éléments essentiels pour profiter pleinement de votre séjour !
            </p>
        </div>
    </div>
</div>

    {% include 'front/modele/image.html.twig' with {'src':'sejour_mitsio7.jpg', 'class':'width-40 margin-left-5', 'titre':""} %}

    <h3>Location de matériel de pêche au tarif de 20 € jour (avec caution)</h3>
    <p>
        Comprend :
    cannes et moulinets pour traine, jig, lancer, palangrotte un set par personne.
    les plombs pour la pêche à la palangrotte sont fournis
    </p>
    <p>
        Ne comprend pas :
    les petits matériels (hameçons, émerillons, bas de ligne, leurres…)
    leur achat est possible à Nosy Be – Ambatoalka
    </p>
    <h3>La journée de pêche</h3>
    <p>
        La journée de pêche sportive démarre à 8 H pour se terminer vers 17 H.
    Un skipper et un marin attendent à bord les pêcheurs. Ils les dirigeront en sécurité sur les
    zones de pêche de cette région de Madagascar, ils connaissant parfaitement les lieux de pêche
    et sont rompus aux techniques de pêche locales . La journée s’achèvera au lodge
    </p>
    <h3>
        Les saisons et les poissons
    </h3>
    <p>
        La pêche au gros peut se pratiquer en toute saison, sauf en février, saison des pluies et à risque
    cyclonique. Les espèces varient en fonction des mois. Tous les poissons de l’Océan Indien
    sillonnent la mer : carangues, espadon voiliers, thons jaune, thon dent de chien, vivaneaux,
    carpes rouges, mérous, coryphènes, marlin noire etc. Sur un séjour vous pourrez pêcher plus
    de 40 variétés de poisson différentes, c’est entre autres pour cela que la zone est réputée.
    </p>
    <h3>Pêchez comme vous aimez !</h3>
    <p>
        La pêche, à la traîne, à la palangrotte, au lancer se pratique sur les hauts fonds, le long des
    tombants et dans les embouchures de rivières, dans des zones totalement vierges de pêche
    industrielle, à quelques miles du lodge. Les eaux de Nosy Be sont idéales pour la pratique de
    presque toutes les techniques de pêche : lancer popper, traîne, jigging, palangrotte et dérive. Il
    arrive souvent à Nosy Be que l’on pratique ces différentes techniques de pêche au cours d’une
    même journée selon les conditions rencontrées. Une journée de pêche à Nosy Be commence
    traditionnellement par la pêche des bonites nombreuses à Nosy Be, que nous utiliserons soit
    vivante en traîne lente (Catalina) à la recherche du Marlin ou en dérive pour tous les
    prédateurs pélagiques, soit morte, entière ou en morceaux en pêche de fond (palangrotte) pour
    les mérous et toutes espèce benthique.
    </p>
    <h3>Conditions de réservation et de paiement :</h3>
    <p>
        Un acompte de 50% du montant de la prestation est à payer d'avance avant votre départ
    par virement bancaire. Dès réception de celui-ci, votre réservation est activée et votre contrat
    ainsi qu’un reçu d’acompte est édité et envoyé par mail.
    </p>
    <p>
        Le solde sera à verser, avant l'embarquement sur le bateau, sur place dès votre arrivée, en
    euros ou Ariarys.
    En cas d'annulation 2 mois avant l'arrivée au lodge, 50% de l'acompte sera remboursé.
    1 mois avant l'embarquement, 25% de l'acompte sera remboursé.
    En cas de non-présentation sans motif valable ni prévenir, la totalité de l’acompte sera
    conservée sans aucun recours possible.
    En aucun cas la société ne pourra être tenue responsable de la perte, la détérioration, la casse
    du matériel des clients à terre ou à bord des bateaux ainsi que toute blessure subit par un
    client. Bien entendu toutes les mesures possibles seront prises pour en limiter les
    conséquences au mieux possible.
    En cas de litige, seul le Tribunal de Nosy Be, Madagascar serait compétent. Nous restons à
    votre disposition pour étudier avec vous un programme pêche ou loisirs sur mesure et vous
    établir un devis personnalisé si besoin.
    comme dans tout établissement hôtelier un passeport en cours de validité devra être
    présenté à votre arrivé et sera conservé en sécurité jusqu’au moment de votre départ et du
    règlement, le cas échéant, de tous les suppléments consommés.
    (bar, restauration, lingerie, room service et toute prestation non inclue aux forfaits).
    </p>
    <h3>santé et hygiène</h3>
    <p>
        Savon, shampoing et 1 serviette de toilette seront à prévoir pour le séjour dans l’archipel
    des Mitsio.
    </p>
</div>
{% endblock %}