<span>
    Au-delà de la Pêche et des Poissons
L’Authenticité Malgache avec
ECO PECHE MADA
</span>
<span>
    NOSY BE est une ile paradisiaque. C’est un endroit où l’authenticité de la vie malgache est
restée la priorité. Les levés et couchés de soleil sont grandioses de couleurs !
Des jours merveilleux que vous n’oublierez jamais !
</span>
<span>
    pour les amateurs d’exotisme et de sensations fortes, la Pêche à Nosy Be, c’est la pêche dans
le célèbre archipel des Mitsio…
</span>
<span>
    Pour des raisons de sécurité et de confort de pêche nous n'acceptons que 4 pêcheurs maximum
à bord du bateau.
</span>
<span>
    Nous nous efforçons de respecter une éthique, le No Kil est pratiqué autant que possible,
nous prenons soin de sélectionner soigneusement et de limiter nos prises au minimum. Les
poissons pris et qui ne peuvent pas être relâchés ne sont pas perdus, nous conservons le
nécessaire à notre alimentation et le reste est redistribué
</span>
<span>
    Cette formule spéciale MITSIO au prix de 1560.00 € ttc par personne est calculée en
prenant le tarif individuel du séjour sur une base de 4 participants pour un séjour de 8
jours et 7 nuits
</span>
<span>
    Chaque cession de pèche est organisée, de préférence, sur la base minimum d’un groupe de 4
participants. Cette opération permet de diviser les coût total du bateau et de l’intendance par
le nombre de participants et limite de fait le coût individuel du séjour.
</span>
<span>
    Cette formule peut aussi être pratiquée au prix de 1780.00 € ttc par personne sur une
base de 3 participants pour un séjour de 8 jours et 7 nuits.
Ou au prix de 2580.00 € ttc par personne sur une base de 2 participants pour un séjour
de 8 jours et 7 nuits.
Ou bien au prix de 3980.00 € ttc pour une personne et un séjour de 8 jours et 7 nuits.
</span>
<span>
    Le carburant coute 1.40 € le litre à Madagascar et la consommation du bateau s’évalue en
centaines de litre par jour, en rapport des distances parcourues, ce qui explique les écarts des
tarifs suivant le nombre de participants.
</span>
<h2>
    TOUS NOS TARIFS S'ENTENDENT HORS TRANSPORTS AÉRIENS
</h2>
<h3>
    Formule Pèche aux Mitsio - détails :
</h3>
<span>
    - 1er jour : Accueil à l’aéroport de Nosy Be et transfert directement vers le village
d’Ambatoloaka, découverte de votre hôtel standing *** en chambre individuelle
(climatisée, TV, WC, salle de bain) et présentation du restaurant
</span>
<span>
    - 2 ème jour : Petit déjeuner à terre, puis embarquement sur le - ZEUS - Coque Open de 8 m
de long et 2.80 m de large propulsé par un moteur SUSUKI de 150 CV toujours entretenu au
top et parfaitement équipé, sondeur Huminbird Helix 10, sonde Chirp, GPS, gilets de
sauvetage, radio, trousse de soins d’urgence, pour profiter au mieux de votre séjour, et ce en
toute sécurité. Son équipage composé d’1 Skipper et d’1 marin rompus à toutes les techniques
de pèches sera à votre service, après une journée de pèche itinérante, arrivée dans le fameux
archipel des Mitsio où vous découvrirez le village de pêcheurs et votre bungalow individuel
sur l’une des iles, repas du soir complet sur l’ile, (jus et boissons alcoolisées en supplément).
Les douches se prennent ici avec seau et kapoaka. l’eau est précieuse dans les iles et elle est
notre avenir. Vous apprendrez ici des gestes éco-responsables pour la préserver.
</span>
<span>
    - 3 ème, 4 ème, 5 ème et 6 ème jour : petit déjeuner complet sur l’ile, départ pour une
session de pèche de 9 à 10 h avec repas le midi sur le bateau servi en pique-nique, fruits du
moment, 1 bouteille d’eau plate par jour et par personne, le soir repas complet sur l’
</span>
<span>
    - 7 ème jour : embarquement pour une journée de pèche itinérante pendant le retour sur
Nosy Be, arrivée en fin d’après-midi, diner au restaurant et nuitée à l’hôtel en chambre
individuelle.
</span>
<span>
    - 8 ème jour : petit déjeuner au restaurant face à la plage puis départ et transport aéroport
</span>
<h3>Prestations inclues :</h3>
<span>
    Transfert de l’aéroport à l’hôtel, Bateau rapide avec skipper et marin pour les sorties pêche
2 nuitées en hôtel ***, 5 nuitées en bungalow individuel sur nosy Mitsio, les diners sur nosy
Mitsio, tous les petits déjeuners, les guides, les déjeuners pour toutes les sorties, 1 bouteille
d’eau par jour et par personne, deux diners en restaurant à Nosy Be
</span>
<h3>Services non inclus :</h3>
<span>
    Besoins personnels, vols internationaux, pourboires aux personnels.
jus et boissons alcoolisées.
</span>
<span>
    Comme dans tout établissement hôtelier un passeport en cours de validité devra
être présenté à votre arrivé et sera conservé en sécurité au coffre jusqu’au moment de votre
départ et du règlement, le cas échéant, de tous les suppléments consommés.
(bar, restauration, lingerie, room service et toute prestation non inclue aux forfaits).
</span>
<h3>LA PECHE</h3>
<span>
    Vous pourrez combattre lors de votre séjour de pêche à Nosy Be, une quinzaine de variétés de
carangues, une soixantaine de différents mérous, des requins, des barracudas, des vivaneaux,
plusieurs variétés de thons (yellowfin, big eye, dent de chien et les plus nombreuses : les
bonites, des sérioles et liches tropicales, et de décembre à mars le Marlin Bleu, le Marlin Noir
est présent toute l’année avec un pic d’activité durant l’été austral.
</span>
<h3>Le matériel indispensable à prévoir :</h3>
<span>
    <b>Cannes et moulinets</b>
Chaque pêcheur à cœur d'emporter son propre matériel. Cannes et moulinets bien remplis.
La violence des combats et la taille des poissons imposent des ensembles de très haute qualité
et des montages sérieux.
</span>
<b>Le petit matériel commun à toutes les techniques de pèche</b>
<p>Plomb hexagonaux 150 et 200 g</p>
<p>Bas de ligne Acier 175# + sleeves adaptées</p>
<p>Bas de ligne acier 275# + sleeves adaptées</p>
<p>Bas de ligne Fluorocarbone ou nylon 100, 120 ou 140# + sleeves adaptées</p>
<p>Emerillons noirs avec et sans agrafe de préférence à billes 150# et 200#</p>
<p>Anneaux brisés 150 et 200#, pince à anneaux</p>
<p>Hameçons type marlin BHSC 8/0 ou équivalents</p>
<p>Hameçons 11 et 16/0</p>
<p>Baudrier, cannes et moulinets</p>
<p>Gants (les gants sont obligatoires à bord en action de pêche)</p>
<p>Lunettes polarisantes</p>
<p>Casquette, Chemise ou teeshirt coton de préférence blanc à manches longues</p>
<p>Pantalon ou Short couvrant à minima les genoux</p>
<p>Chaussures légères adhérentes couvrant le coup de pied</p>
<p>Pansements, Crème solaire indice 50, Biafine</p>
<p>Un vêtement anti UV peut être le bienvenu      </p>
<span>La lampe de poche type mini Maglite ou une lampe frontale LED et les piles, souvent
    oubliées
    Bonne humeur et joie de vivre impérativement</span>

<h3>Location de matériel de pêche au tarif de 20 € jour (avec caution)</h3>
<span>
    Comprend :
cannes et moulinets pour traine, jig, lancer, palangrotte un set par personne.
les plombs pour la pêche à la palangrotte sont fournis
</span>
<span>
    Ne comprend pas :
les petits matériels (hameçons, émerillons, bas de ligne, leurres…)
leur achat est possible à Nosy Be – Ambatoalka
</span>
<h3>La journée de pêche</h3>
<span>
    La journée de pêche sportive démarre à 8 H pour se terminer vers 17 H.
Un skipper et un marin attendent à bord les pêcheurs. Ils les dirigeront en sécurité sur les
zones de pêche de cette région de Madagascar, ils connaissant parfaitement les lieux de pêche
et sont rompus aux techniques de pêche locales . La journée s’achèvera au lodge
</span>
<h3>
    Les saisons et les poissons
</h3>
<span>
    La pêche au gros peut se pratiquer en toute saison, sauf en février, saison des pluies et à risque
cyclonique. Les espèces varient en fonction des mois. Tous les poissons de l’Océan Indien
sillonnent la mer : carangues, espadon voiliers, thons jaune, thon dent de chien, vivaneaux,
carpes rouges, mérous, coryphènes, marlin noire etc. Sur un séjour vous pourrez pêcher plus
de 40 variétés de poisson différentes, c’est entre autres pour cela que la zone est réputée.
</span>
<h3>Pêchez comme vous aimez !</h3>
<span>
    La pêche, à la traîne, à la palangrotte, au lancer se pratique sur les hauts fonds, le long des
tombants et dans les embouchures de rivières, dans des zones totalement vierges de pêche
industrielle, à quelques miles du lodge. Les eaux de Nosy Be sont idéales pour la pratique de
presque toutes les techniques de pêche : lancer popper, traîne, jigging, palangrotte et dérive. Il
arrive souvent à Nosy Be que l’on pratique ces différentes techniques de pêche au cours d’une
même journée selon les conditions rencontrées. Une journée de pêche à Nosy Be commence
traditionnellement par la pêche des bonites nombreuses à Nosy Be, que nous utiliserons soit
vivante en traîne lente (Catalina) à la recherche du Marlin ou en dérive pour tous les
prédateurs pélagiques, soit morte, entière ou en morceaux en pêche de fond (palangrotte) pour
les mérous et toutes espèce benthique.
</span>
<h3>Conditions de réservation et de paiement :</h3>
<span>
    Un acompte de 50% du montant de la prestation est à payer d'avance avant votre départ
par virement bancaire. Dès réception de celui-ci, votre réservation est activée et votre contrat
ainsi qu’un reçu d’acompte est édité et envoyé par mail.
</span>
<span>
    Le solde sera à verser, avant l'embarquement sur le bateau, sur place dès votre arrivée, en
euros ou Ariarys.
En cas d'annulation 2 mois avant l'arrivée au lodge, 50% de l'acompte sera remboursé.
1 mois avant l'embarquement, 25% de l'acompte sera remboursé.
En cas de non-présentation sans motif valable ni prévenir, la totalité de l’acompte sera
conservée sans aucun recours possible.
En aucun cas la société ne pourra être tenue responsable de la perte, la détérioration, la casse
du matériel des clients à terre ou à bord des bateaux ainsi que toute blessure subit par un
client. Bien entendu toutes les mesures possibles seront prises pour en limiter les
conséquences au mieux possible.
En cas de litige, seul le Tribunal de Nosy Be, Madagascar serait compétent. Nous restons à
votre disposition pour étudier avec vous un programme pêche ou loisirs sur mesure et vous
établir un devis personnalisé si besoin.
comme dans tout établissement hôtelier un passeport en cours de validité devra être
présenté à votre arrivé et sera conservé en sécurité jusqu’au moment de votre départ et du
règlement, le cas échéant, de tous les suppléments consommés.
(bar, restauration, lingerie, room service et toute prestation non inclue aux forfaits).
</span>
<h3>santé et hygiène</h3>
<span>
    Savon, shampoing et 1 serviette de toilette seront à prévoir pour le séjour dans l’archipel
des Mitsio.
</span>