{% extends 'front/base.html.twig' %}
{% block nav %}
    {% include 'front/nav.html.twig' %}
{% endblock %}

{% block title %} {% endblock %}
{% block content %}
<div class="container">
    <p>
        L'équipage de votre unité connait très bien les pratiques de pêche les 
        plus en pointe aujourd'hui !
        Vous naviguerez avec un équipage professionnel
        nos unités de pêche sont situées à Ambatoloaka (Zone ouest de 
        Nosy Be) ce qui nous permet d'être rapidement sur les zones de pêche.
    </p>
    <h1>Tout sur la Pêche</h1>
    <h2>LOCATION DE MATÉRIELS DE PÊCHE </h2>
    Pour voyager léger, nous pouvons mettre à votre disposition du matériel de pêche. 
    Ce matériel ne concerne que les cannes et moulinets, pour les leurres et accessoires 
    de montage, nous ne fournissons pas mais vous pouvez regarder nos préconisations.
    Pour nous assurer de vous fournir des équipements de qualité et un renouvellement 
    des matériels , les cannes et moulinets font l’objet d’une location journalière et nous 
    demandons un caution en cas de casse.
    <h2>LES SORTIES PÊCHE </h2>
    Tout séjour de pêche fait l’objet d’un programme qui vous sera proposé. Nous 
    élaborons ce programme avec vous en fonction de vos envies et de votre budget.
    Les sorties de pêche se font à la journée ou demi journée à votre convenance. Il ne 
    sera pas rare, si la pêche est difficile, de se déplacer de spot en spot.
    Notre objectif étant de vous faire attraper du poisson, nous ne regardons pas à la 
    consommation d’essence et nous nous déplaçons autant que nécessaire.
    Dans tous les cas, aucun dépassement en carburant ne vous sera demandé, sauf, 
    sortie hors programme, programme définit à l’avance avec vous et contractuel.
    <h2>VOTRE EQUIPE A BORD </h2>
    Vous serez accompagné par un skipper et un guide de pêche parlant français ayant 
    une forte expérience et connaissance des techniques et des lieux de pêche. Cette 
    équipe sera à votre disposition pour vous conseiller, vous assister au besoin, le tout 
    dans une ambiance conviviale et décontractée.
    <h2>SÉCURITÉ A BORD </h2>
    Sur notre bateau, nous veillons à votre sécurité.
    L’utilisation de leurres de lancer volumineux et grassement armés (Popper) présente 
    des risques majeurs de blessures, la prudence et l’observation des règles d’alternance 
    au lancer sont de rigueur à bord.
    Pour votre sécurité l’utilisation de lunettes de soleil et de gants sont obligatoires en 
    action de pêche.
    Pour un confort de pêche, nous n’embarquons que quatre pêcheurs par sortie. 
    En aucun cas ce nombre de 4 sera dépassé.
    <h2>NO KILL / CATCH & REALES </h2>
    Nous procédons à une pêche raisonnée, les relâchés sont de règle quand ils peuvent 
    être réalisés dans de bonnes conditions. Notre équipe met tout en œuvre pour que 
    ces conditions soient réalisées.
    Il est possible, lors de bivouac ou si vous souhaitez déguster une de vos prises de 
    prélever quelques spécimens. Les plus grosses prises (reproducteurs), si leur état le 
    permet, seront systématiquement relâchées après photos.
    Le but est de pouvoir continuer encore très longtemps notre passion de pêcheur 
    sportif et de ne pas scier la branche sur laquelle nous sommes assis.

    <h1>Liste non exhaustive des matériels à prévoir pour Madagascar :</h1>
    <h2>Petit matériel commun à toutes les techniques :</h2>
    <ul>    
        <li>- 1 Canne à lancer 80 – 100 – 130 lb avec un moulinet (genre Shimano 10.000 FA ou 18.000 SW ou Saltiga Expedition ou dog Fight etc.). </li>
        <li>- 1 Canne à jig 80 – 100 lb avec un moulinet (genre Shimano 20.000 FA ou 20.000 SW ou Saltiga Expedition) ou autre de resistance equivalente. </li>
        <li>- Environ 600 m de tresse minimum 120 lb (PE8) – 130 – 150 lb de rechange pour le lancer et minimun 100 lb (PE6) pour le jigging. </li>
        <li>- 2 Bobines de Shock leader 150 – 170 – 200 lb ou de fluorocarbone 120 lb pour le jig et 1 bobine de 300 lb ou de fluocarbone 250 lb pour le lancer (bas de ligne).</li>
        <li>- Gros émerillons simples 300 – 400 lb. anneaux brisés 300 – 400 lb. anneaux soudés 300 –400 lb. </li>
        <li>- Environ une trentaine de jigs entre 150 et 400 gr. </li>
        <li>- Gros hameçons pour le jig (genre n°13/0 de fisherman ). </li>
        <li>- Octoplus Phosphorescent pour le Jig, genre "Flashmer 11 cm" </li>
        <li>- Assist line sérieuse 300 – 400 lb </li>
        <li>- Environ 10 poppers genre cubera 125 gr, 150 gr pour les plus sportifs, Orion Cono 
        Cono, Fraser Pop, T-Rex, le classique mais fameux, Surface Bull etc. bien armés… 
        (genre décoy n° 8 ou 10 en queue et triple n° 5 ou 1 à 2 hameçons à jig en ventral et 
        plutôt un seul hameçon hyper renforcé en queue (genre owner n° 5 ST 76). </li>
        <li>- 3 ou 4 stick bait (genre Orion : nambas – big foot 140…) Gunz etc </li>
        <li>- 2 ou 3 flappers 130-150-170, ça peut aider. </li>
        <li>- Et tous vos leurres favoris.</li>
    </ul>

    <span>
        Bref seul du matériel puissant, haut de gamme, de la tresse récente, voire neuve, des 
        montages parfaits, des leurres bien montés vous permettront de gagner vos combats 
        souvent violents et difficiles face au poisson de votre vie qui au popper attaque 
        parfois entre 5 et 10 mètres d' eau...
    </span>
    <span>
        Nous déconseillions fortement l'utilisation de matériel light inadapté dans notre 
        région et pour les poissons recherchés.
    </span>
    <span>
        Nous pouvons vous proposer à la location du matériel haut de gamme
    </span>
    <span>
        un ensemble canne et moulinet rempli, lancer ou jig, pour 20 €/jour de pêche (prévoir tresse de rechange).
    </span>
    <span>
        Attention en cas de casse ou perte du matériel en location il vous sera facturé au tarif 
        en vigueur sur le net. Pour vous prémunir contre ce risque vous pouvez souscrire une 
        assurance.
    </span>
    <span>
        Nos premiers spots de pêche se situent à moins d’1/4 d’heure de votre logement,
        vous y capturerez Carangues, carpes rouges, jobfishs, thazards, barracudas.
        Vous pêcherez toutes les zones entre nos premiers spots et les tombants situés à 
        environ 19 Milles au large. Sur la route, vous trouverez dans les couloirs sous marins : 
        Bonites de belles tailles, thons jaunes, Carangues Ignobilis, Carangues Riz, Barracudas, 
        puis sur le récif bordant le tombant : Carangues Ignobilis, Carangues bleues, Mérous, 
        Babones, Napoléons, Barracudas.
        Le récif affleure le tombant des 100 m et permet une alternance entre toute les 
        techniques : le spinning, le jiggins, la traine et la palangrotte lourde. À votre porté, au 
        tombant : Espadons, Marlins, Coryphènes, Thon Jaune, Thons à dents de Chien, gros 
        Mérous, coryphènes carpes rouges marlins etc.….
        L’océan Indien est vraiment exceptionnelle et il n’est pas rare dans notre région de 
        prendre plusieurs poissons records dans la même journée suivant les saisons.
    </span>
    <span>
        Les carangues ignobilis "grosses têtes ou géantes" peuvent atteindre 50 kg à 70 kg, 
        les thons à dents de chien plus de 100 kg, les mérous plus de 100 kg et de 
        nombreuses autres espèces requins thons jaune espadons voilier… 
        Les coins de pêche seront à définir avec votre guide selon la saison la météo et les 
        espèces recherchées. Nous pourrons varier plusieurs techniques : traine poppers jig, 
        palangrotte etc…
    </span>
    <span>
        Il est fréquent d’apercevoir nos amis les dauphins les globicéphales raies Manta
    tortues et baleines quand elles viennent mettre bas entre le mois d'avril et octobre 
    pour une journée riche en émotions. A faire absolument une fois dans sa vie…
    </span>
    <span>
        Nos années d' expérience, de prospection, d' aventures exceptionnelles nous ont 
    permis d' acquérir une bonne connaissance de nos terrains de jeux et de mettre tout 
    en œuvre pour réaliser avec vous un séjour unique et inoubliable.
    </span>
    <span>
        Pour les bateaux les chaussures les plus sûres sont les crocs’s ou les espadrilles et 
    peuvent faire un cadeau utile sur place au moment du depart.
    </span>
    <span>
        Protection solaire : minimum 30 water résistant genre" AVENE". (sans paraben ni 
    carotène à cause des taches sur le bateau.) Casquette, chapeau, lunettes avec des 
    liens.
    </span>
    <span> 
        En plus de vos médicaments personnels, spasfon, de la biafine, de la bétadine jaune 
    en mini dose, des gouttes MIXTES (oculaire et ophtalmique) OFLACINE, de 
    l'exomédine, du cicatryl, des compresses de gaze et un assortiment de tricostéril 
    étanche, une pommade corticoïde et antibiotiques à large spectre genre amoxilline.
    </span>
    <h3>Pratique</h3>
    <span>
        Quelques conseils utiles avant de venir à Madagascar
    </span>
    <span>
        Action - Visas : Tout étranger désirant se rendre à Madagascar doit être muni d’un 
        passeport ayant encore au moins 6 mois de validité après la date du retour. Le visa 
        peut être délivré à l’arrivée à Madagascar à l aéroport ou en France avant le départ. 
        Pour les documents de base se renseigner auprès de l’Ambassade malgache ou 
        Consulat le plus proche de vous.
    </span>
    <span>
        Argent : Le franc malgache a été remplacé par l’ariary depuis juillet 2003. 1€ = 3800 
        Ar env. Le réseau bancaire est entièrement privé et se compose des même banques 
        dans toutes les villes. Elles sont ouvertes du lundi au vendredi de 07h30 à 11h et de 
        14h30 à 16h. Outre l’argent liquide, on peut se munir de chèques de voyage en 
        euros. Les cartes visa sont aussi très utiles pour les retraits. On trouve des 
        distributeurs automatiques d’argent liquide dans les banques.
    </span>
    <span>
        Marchandage : Règle absolue : toujours négocier un service au départ et ne payer 
        qu’après. Ceci est valable pour les taxis, les excursions et les guides en particulier. 
        Toujours se renseigner sur les prix "normaux" et se méfier de certains tarifs "spécial 
        vazaha" parfois exorbitants.
    </span>
    <span>
        Climat : Saison sèche d’avril à octobre avec une période d’hiver austral de juin 
    jusqu'en août et saison des pluies de novembre à mars.
    </span>
    <span>
        Vêtements : Confortables et décontractés. Prévoir un vêtement de pluie (Kway) et des 
    petites chaussures genre tennis pour les excursions. Ne pas oublier les produits 
    répulsifs pour les moustiques. Pendant l’hiver austral prévoir une petite laine et un 
    pantalon pour la visite de la Montagne d’Ambre. Le soleil tape fort à Diego Suarez 
    alors n’oubliez pas vos crèmes solaires, lunettes, chapeaux…
    </span>
    <span>
        Transports : Taxi-ville pour une course, compter de 1000Ar la journée à 1500Ar à 
    partir de 20h.
    </span>
    <span>
        Restaurants : Les repas sans boisson varient de 10000Ar à 40000Ar et plus
    </span>
    <h3>Conseils médicaux et sanitaires</h3>
    <span>
        Avant le départ : Il est expressément conseillé d’aller voir son médecin et de vérifier 
    que ses vaccinations sont à jours. En cas de séjour prolongé en brousse, les vaccins 
    contre le tétanos, la typhoïde et les hépatites A et B sont conseillés. 
    Pour les médicaments, ne pas se charger : il y a des pharmacies bien achalandées à 
    Nosy Be et l’on y trouve tout à l’exception des médicaments spécialisés (diabétiques, 
    etc.)
    </span>
    <span>
        Précautions sanitaires : Les précautions à prendre sur place sont communes à 
    presque tous les pays tropicaux. Evitez les piqûres de moustiques désagréables 
    certes, mais surtout vecteur de l’agent de paludisme. Utilisez donc moustiquaires ou 
    air conditionné, insecticide, serpentin à brûler et chemises à manches longues.
    </span>
    <span>
        Les baignades : Résistez à la tentation de baignade dans les lacs, rivières et rizières, 
    très souvent infestés de bilharzies, parasites redoutables s’attaquant au système 
    urinaire ou digestif.
    </span>
    <span>
        Les boissons locales : Ne buvez l’eau qu’en bouteille cachetée et méfiez-vous des 
    crudités.
    </span>
    <span>
        La sécurité : Nosy Be est une ville particulièrement tranquille et sure. Il faut 
    néanmoins respecter les règles élémentaires lorsque l' on voyage : ne pas montrer 
    qu’on a de l’argent, éviter de sortir des liasses de billets et être très discret, toujours 
    se munir d’une pièce d’identité et d’une photocopie de passeport, en dehors des 
    sentiers battus prendre avec soi un guide local.
    </span>
    <span>
        La prostitution : Activité assez répandue dans la ville. Il est préférable de s’informer et 
    de se prémunir (nombreuses MST et SIDA)
    </span>
    <span>
    Formalités d’exportation : Pour protéger le patrimoine national, certains objets 
    nécessitent une autorisation pour les services suivants :
    </span>
    <ul>
        <li>- Plantes vives : Service des Eaux et Forêts, Nanisana</li>
        <li>- Légumes, fruits et plantes séchées : Services Phytosanitaires (Poste de Tsaralalàna ou Aéroport d’Ivato)</li>
        <li>- Pierres brutes : Ministère du Commerce, Service contrôle économique, Ambohidahy.</li>
    </ul>
    <span>
        Formalités de sortie : Les animaux et plantes sont interdits à l’exportation. Les espèces 
    menacées d’extinction, suivant l’annexe 1 de la convention sur le Commerce 
    International des Espèces de Faune et de Flore : tous les lémuriens, le Dugong 
    dugong, la Tortue radiée, la Tortue à éperon, tous les chelonidae (toutes les tortues 
    de mer), le Boa, la grenouille rouge d’Antongil, etc. Les orchidées et toutes les 
    espèces d’Euphorbiacées, Didiéracées, Pachypodium, Apocynacées.
    </span>
    <span>
        Objet du patrimoine national : Tous les objets authentiques (ex : aloalo, volet 
    zafimaniry), objets et anciens document
    </span>
    <span>
        Laissez-vous tenter par un voyage original et inoubliable à Madagascar mêlant 
    rencontre de la culture locale, découverte de paysages naturels d'exception et 
    farniente sur les plages de sable blanc de l'Océan Indien
    </span>
    </div>
{% endblock %}